header img {
    height: 100%;
    width: 100%
}

html {
    background-color: rgb(212, 165, 255);
}

body {
    margin: 0px;
    padding: 0px;

}

header nav {
    background-color: yellow;
}

nav {
    display: inline-block;
    text-align: right;
    background-color: yellow;
    padding: 3px;
    width: 100%;
    position: sticky;
    top: 5px;
}

a {
    background-color: yellow;
    margin: 1rem;
    color: rgb(255, 255, 255);
}

#footer {
    background-color: yellow;

}

article {
    margin: 10px;
}

h1 {
    text-align: center;
}
nav a{
    background-color: rgb(195, 131, 255);
    padding: 4px;
    text-decoration: none;
}
section{
    
    margin: 10px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    padding: 1rem;
    background-color: rgba(255, 0, 0, 0.777);
    border-radius: 1rem;
}
li{
    display: inline-block;
}
/*max-widht e min-widht danno largheza massima e minima per le immagini*/