         
         body{
              
              margin: 0px;
              background-color: white;
  
            }
  
            header{
           
             
              padding: 10px;
              background-color: royalblue;
              position: sticky;
              top: 0px;
              z-index: 1000;
              display: flex;
              justify-content: center;
              align-items: center;
         }
           
         h1{
             display: inline;
             color:black;
             flex: 1 200px;
             
              
            }
        
         a{
  
          text-decoration: none;
          color: black;
         
         }
    
            
        .home{
         
          
          padding-right: 50px;

        }  
        
        .home a:hover{
  
          color: orange;
  
         }
         
         .home a{

          font-weight: bolder;
        }

        
        
        .blog{
  
         padding-right: 50px;
        }
        
        .blog a:hover{
  
           color: orange;

         }
       
         .blog a{

          font-weight: bolder;
        }
      
        
        .contatti a:hover{
  
           color: orange;

          }
          .contatti a{


              font-weight: bolder;
             }
  
       .prenota{
         
          background-color: orange;
          margin-left: 50px;
          padding-bottom: 9px;
          padding-top: 9px;
          border-radius: 5px;
         
      
      } 
  
      .prenota a{
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 5;
          color: black; 
          font-weight: bolder;
           
          
      }

        
        
       
      .immagine{

        height: 500px;
        background: url("contatti.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
      }
 
      main{
        width: auto;
        height: auto;
      
      }

      main h2{

       padding-left: 60px;
       padding-top: 30px;


      }  
      
      hr{

        border: 5px solid tomato;
       
        width: 70%;
        text-align: right;
        margin: 0px;
        margin-left:60px;

      }

      main p{


        font-size: 20px;
        padding-left: 60px;
      }

      .sede{

        padding-left: 60px;
       padding-top: 30px;
       font-family: 'Times New Roman', Times, serif;

      }

      main ul{


        list-style-type: square;
        font-size: 25px;
        padding-left: 85px;
        

      }
      main li{

         font-size: 20px;
         

      }


      footer{

        background-color: royalblue;
        display: flex;
        height: 200px;
        margin-top: 20px;
        padding-top: 50px;

      }
      
      footer p{

        flex: 1 300px;

      }

      footer h3{

        position:absolute;
        left:60rem;
       

      }

    

      .recensioni {

        flex: 0 650px;
        text-align: center;


      }

      .recensioni p{

 
        padding-top:10px;

      }




        .bdx{
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        opacity: .5;
        position:absolute;

        }

        .bsi{
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        opacity: .5;
        position:absolute;

        }