
    
             body{
                  
                  margin: 0px;
                  background-color: white;
      
                }
      
                header{
               
                 
                  padding: 10px;
                  background-color: royalblue;
                  position: sticky;
                  top: 0px;
                  z-index: 1000;
                  display: flex;
                  justify-content: center;
                  align-items: center;
             }
               
             h1{
                 display: inline;
                 color:black;
                 flex: 1 200px;
                 
                  
                }
            
             a{
      
              text-decoration: none;
              color: black;
             
             }
        
                
            .home{
             
              
              padding-right: 50px;
    
            }  
            .home a{

              font-weight: bolder;
            }
            
            .home a:hover{
      
              color: orange;
      
             }
    
            
            
            .blog{
      
             padding-right: 50px;
             
            }

            .blog a{

              font-weight: bolder;
            }
            
            .blog a:hover{
      
               color: orange;
    
             }

             .contatti a{


              font-weight: bolder;
             }
           
          
            
            .contatti a:hover{
      
               color: orange;
    
              }
      
           .prenota{
             
              background-color: orange;
              margin-left: 50px;
              padding-bottom: 9px;
              padding-top: 9px;
              border-radius: 5px;
             
          
          } 
      
          .prenota a{
              padding-right: 15px;
              padding-left: 15px;
              padding-top: 5;
              color: black; 
              font-weight: bolder;
                
          }
     
          .immagine{
    
          height: 500px;
          background: url("giappone.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          
    
          }
    
    
          main{
            
            width: auto;
            display:grid;
            gap:20px 15px;
            grid-auto-rows: minmax(100px, auto);
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
            margin-top: 20px;
            
    
          }
    
    
          .danimarca {
            background: url(danimarca.jpg);
            width: 25rem;
            display: inline-block;
            height: 30rem;
            background-position-x: -25rem;
            background-position-y: -18rem;
            background-repeat: no-repeat;
            grid-column: 1/2;
            grid-row: 1/2;
           
            
    
          }
          .danimarca:hover{
    
    
            background-position-x: -29rem;
           
    
          }
    
          .riquadro{
    
              width: 320px;
              height: 200px;
              background-color: rgba(248, 241, 241, 0.5);
              margin-left: 40px;
              margin-top: 15rem;
              
          }

          .riquadro p{


            padding-top: 10px;
            font-weight: bolder;
          }
       
    
          .america {
            
            background: url(america.jpg);
            width: 25rem;
            display: inline-block;
            height: 30rem;
            background-position-x: -110px;
            background-position-y: -30px;
            background-repeat: no-repeat;
            grid-column: 2/3;
            grid-row: 1/2;
            
            
          }
    
          .america:hover{
    
    
            background-position-x: -140px;
          
            
          } 
    
          .riquadro2{
    
              width: 320px;
              height: 200px;
              background-color: rgba(248, 241, 241, 0.5);
              margin-left: 40px;
              margin-top: 15rem;
    
          }
          
          .riquadro2 p{


            padding-top: 10px;
            font-weight: bolder;
          }

         
           .italia {
           
            background:url(italia.jpg);
            
            width: 25rem;
            display: inline-block;
            height: 30rem;
            background-position-x: -120px;
            background-position-y: -140px;
            background-repeat: no-repeat;
            grid-column: 1/3;
            grid-row: 2;
          
            
          }
          
          .italia:hover{
    
               background-position-x: -150px;
              
    
           } 
    
          .riquadro3{
    
              width: 320px;
              height: 200px;
              background-color: rgba(248, 241, 241, 0.5);
              margin-left: 40px;
              margin-top: 16rem;
              
    
          }
          .riquadro3 p{

            
            padding-top: 10px;
            font-weight: bolder;
          }
     
    
    
          footer{
    
            background-color: royalblue;
            display: flex;
            height: 180px;
            margin-top: 20px;
            padding-top: 50px;
            
          }
    
          footer p{
    
            flex: 1 300px;
            
          
          }
    
          footer h3{
    
            position:absolute;
             left:60rem;
            
          }
          .recensioni {
    
          flex: 0 650px;
          text-align: center;
    
           
          }
          
          .recensioni p{
    
             
              padding-top:10px;
     
             }
        
    
          
    
          .bdx{
            height: 25px;
            width: 25px;
            background-color: #bbb;
            border-radius: 50%;
            opacity: .5;
            position:absolute;
            
          }
          .bsi{
            height: 25px;
            width: 25px;
            background-color: #bbb;
            border-radius: 50%;
            opacity: .5;
            position:absolute;
            
          }
          
      
               @media (max-width: 767px) {
                main{
      
                  grid-template-columns: repeat(3, 1fr);
                }
                .danimarca{
      
                  grid-column: 2;
                  grid-row: 1;
      
                }
                .america{
      
      
                  grid-column: 2;
                  grid-row: 2/3;
                }
                .italia{
      
      
                  grid-column: 2;
                  grid-row: 3/4;
                }
        
              }
          
    
     
              
    
    