p {
    color: red;
    width: 20%;
}
img {
    margin-right: 2rem;
    vertical-align: top;
    float: left;
}
strong {
    display: inline-block;
    width: 5rem;
    height: 3rem;
    vertical-align: middle;
}
ul {
    list-style-type: square;
}
ol li {
    display: inline-block;
    background-color: blueviolet;
    width: 2em;
}