*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    background-color: rgb(232, 196, 143);
}
/* header - inizio */
header#intestazione
{
    background-color: rgb(232, 196, 143);
    margin: 0;
    border: 0;
}
header#intestazione h1
{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0.7rem;
    background-color: rgb(246, 244, 173);
    font-size: 5rem;
    color: rgb(251, 183, 82);
}
header#intestazione nav
{
    background-color: rgb(251, 183, 82);
    position: sticky;
    top: 0px;
}
header#intestazione nav ol
{
    margin-bottom: 0px;
    list-style-type: none;
    text-align: right;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.2rem;
    padding-right: 0.7rem;
    font-size: 1.5rem;
    margin-top: 0;
}
header#intestazione nav ol li
{
    display: inline-block;
    padding-right: 0.7rem;
    border-top: 0;
    border-right: 3px;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    border-color: rgb(255, 238, 214);
    transition: all 0.3s;
}
header#intestazione nav ol li:hover
{
    transform: scale(1.05);
}
header#intestazione nav a#attivo
{
    color: rgb(104, 49, 8);
    background-color: rgb(255, 233, 110);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
}
header#intestazione nav a
{
    color: white;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3;
}
header#intestazione nav ol li a:hover
{
    color: rgb(255, 252, 249);
    background-color: rgb(255, 227, 71);
}
header#intestazione nav a:visited
{
    color: rgb(183, 44, 44);
}
header#intestazione img#primaImmagine
{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-left: 0;
}
/* header - fine */
a
{
    color: rgb(255, 81, 6);
}
a:hover
{
    color: rgb(255, 129, 75);
}
a:visited
{
    color: rgb(183, 44, 44);
}
p
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3rem;
    font-size: 1.25rem;
    padding-bottom: 0.7rem;
}
h2
{
    color: rgb(165, 83, 42);
    font-size: 2em;
    margin-top: 0px;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
article.primo section
{
    background-color: rgb(232, 196, 143);
    clear: both;
    height: 510px;
    min-height: 175px;
}
section#contattaci
{
    position: fixed;
    background-color: rgb(209, 177, 177, 0.5);;
    right: 0.5rem;
    top: 40rem;
    height: 100px;
    width: 180px;
    padding: 0.75rem;
    border-radius: 25%;
    text-align: center;
    color: rgb(255, 255, 255, 0.8);
}
section#contattaci p
{
    margin: 0px;
    padding: 0px;
}
section#partiScacchi
{
    height: auto;
}
section#partiScacchi h1
{
    margin-top: 0;
    margin-left: 3rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: rgb(183 44 44);
}
section#partiScacchi li
{
    margin-left: 3rem;
}
article.primo section img
{
    /* width: 15%; */
    /* height: 120px; */
    max-width: 100%;
    min-height: 60px;
    margin-left: 3rem;
    margin-right: 1rem;
    float: left;
}
footer
{
    grid-row-end: 5000;
    background-color: rgb(178, 151, 110);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    text-align: center;
    margin-top: 2.5rem;
}