body {
  overflow: hidden;
  background: #d7d7d7;
}

#tetris {
  width: 360px;
  border: 1px solid black;
  padding: 20px;
}

/* Impostiamo le dimensioni e lo stile del canvas dove si svolge il gioco */
#canvas {
  width: 200px;
  height: 440px;
  background-color: #000;
  position: relative;
  color: #fff;
}

#canvas h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
}

/* Rimuoviamo la proprietà outline dal bottone start */
#start {
  animation: blink .7s steps(2, start) infinite;
  background: #E1FF5F;
  border-radius: 2px;
  color: #202020;
  cursor: pointer;
  font-size: 28px;
  outline: none;
}

/* Impostiamo il colore rosso per l'effetto blink del bottone start */
.red {
  color: #f00000;
}

.piece {
  border: 1px solid white;
  position: absolute;
}

.square {
  position: absolute;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

/* Impostiamo lo stile di ogni tipo di pezzo */
.type0 {
  background-color: #a000f0;
}

.type1 {
  background-color: #00f0f0;
}

.type2 {
  background-color: #f0a000;
}

.type3 {
  background-color: #0000f0;
}

.type4 {
  background-color: #00f000;
}

.type5 {
  background-color: #f00000;
}

.type6 {
  background-color: #f0f000;
}

/* Impostiamo le dimensioni e lo stile del div che contiene il prossimo pezzo */
#next_shape {
  position: relative;
  background-color: #000;
  border: 1px solid white;
  width: 110px;
  height: 110px;
}

/* Impostiamo le dimensioni e lo stile del div che mostra le informazioni sul gioco */
#info {
  background-color: #000;
  color: #fff;
  float: right;
  width: 110px;
  height: 420px;
  padding: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0px 0px 5px black;
}

button:hover {
  background-color: #3e8e41;
}

#punteggi {
  position: absolute;
  top: 20px;
  right: 20px;
  /* il resto del codice rimane invariato */
  }

h1 {
  text-align: center;
  margin-top: 20px;
  color: #4CAF50;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}