body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding:0;
}

#maintitle{
    color:rgb(93, 11, 128);
    font-size: 50px;
} 

h2{
    color: rgb(255, 0, 195);
    font-size: 40px;
}


#indice{
    text-align: right;
    background-color: rgb(240, 173, 246);
    font-size: 30px;
    padding: 25px;
}





header #imgsonogay{
    width: 100%;
}

/*al posto di mettere article image e lasciare la proprietà max-width: 50% posso su header sonogay aggiungere min-width: 100%*/

article img{
    max-width: 50%;
}





header p{
    margin: 0 10px;
}


article{
    margin: 30px 20px;
}



header nav a{
    margin-left: 10px;   
    color: white; 
    text-decoration: none;  
}

header nav a:visited{
    color:rgb(93, 11, 128);
}


/* CONTACTS */

#contatti {
    position: fixed;
    bottom: 0;  /* spazio dal bordo bottom*/
    right: 20px; /* spazio dal bordo dx */
    border-radius: 1rem 1rem 0 0;   /** è angolazione dei bordi**/
    background-color:  rgb(255, 0, 195);
    color: black;
    font-size: 20px;
    padding: 1.5rem 3rem;    /*margini interni dalla scritta*/
}

#contatti img {
    display: none;
}

#contatti:hover {
    padding-bottom: 1rem;
}

#contatti:hover img {
    display: block;
    width: 2.5rem;
    height: 2rem;
    margin: auto;
    float: none;
    padding-top: 10px;
}



footer{
    margin-top: 10px;
    background-color:rgb(240, 173, 246)
}

#linkfinali{
   /** border: 4px solid rgb(102, 99, 99);**/
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    height: 60px;
    margin-left: 20px;
}



