body {
  background-color: rgb(252, 220, 190);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

#checkboxgiocatori {
  background-color: #dbdb32;
  margin-left: 22%;
  margin-right: 22%;
  border-radius: 12px;
}

#titolo {
  color: rgba(215, 28, 28, 0.395);
  font-size: 40px;
  margin: 1%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-left: 20px;
}

h3 {
  font-size: 25em;
}

#gif {
  display: inline;
  display: block;
  margin: 0 auto;

}

.colonne {
  float: left;
  width: 40%;
  padding: 10px;
  height: 300px;
  margin: 2rem;

}

#checkboxgiocatori:hover {
  color: rgb(255, 0, 0);
}

#schema {
  width: auto;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.minititoli {
  text-align: center;
  font-family: cursive;
}

.switch {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#formschemi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#formschemi:hover {
  color: rgb(255, 0, 0);
}

#checkbox {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.bottonigiocatori {
  border-radius: 12px;
  background-color: #dbdb32;
  color: black;
  border: 2px solid;
  margin-bottom: 2px;
}

.bottonigiocatori:hover {
  background-color: #4caf4f7a;
  transition-duration: 0.3s;
}

.giocatori:hover {
  color: white;
}

.formdeigiocatori {
  margin-bottom: 1%;
  display: inline-block;
}

.giocatoriattivi {
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  width: 15%;
}

.giocatoriattivi:disabled {
  opacity: 1.5;
  color: black;
}

#listapulsantigiocatori {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}