body {
  background-color: rgb(252, 220, 190);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

#checkboxgiocatori {
  background-color: #dbdb32;
  margin-left: 15%;
  margin-right: 31%;
  border-radius: 12px;
}

#titolo {
  color: rgba(215, 28, 28, 0.395);
  font-size: 40px;
  margin: 1%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-left: 20px;
}

h3 {
  font-size: 25em;
}

#gif {
  display: inline;
  display: block;
  margin: 0 auto;
}

.colonne {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
}

#schema {
  width: auto;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.minititoli {
  text-align: center;
  font-family: cursive;
}

.switch {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bottonigiocatori {
  border-radius: 12px;
  background-color: #dbdb32;
  color: black;
  border: 2px solid ; 
}

.bottonigiocatori:hover {
  background-color: #4caf4f7a;
  transition-duration: 0.3s;
}

.giocatori:hover {
  color: white;
}

.formdeigiocatori {
  margin-bottom: 1%;
  display: inline-block;
}

.giocatoriattivi {
  align-items: center;
}

#listapulsantigiocatori{
  margin-left: 1rem;
  margin-right: auto;
}