* {
    box-sizing: border-box;
}
body{
    background: #dfd2b7fd;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
#titolo {
    color: #bc6f17;
    font-size: 38px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4rem;
    padding-top: 0;
    font-weight: 1000;  
    position: sticky;
    top: 0;
}
hr {
    border: 0.1rem solid #bc6f17;
    margin-left: 1rem;
    margin-right: 1rem;
}
nav {
    text-align: right;
    background-color: #f5b529;
    padding-top: 0rem;
    padding-right: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav ol li {
    display: inline-block;
    list-style-type: none;
}
nav a {
    margin: 1rem;
    color:#ffffff;
    text-decoration: none;
}
header img {
    width: 97.3%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.1rem;
}
header p {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* comandi input e button */
#inputCerca {
    position: static;
    margin-left: 20rem;
}
#buttonCerca {
    position: static;
    margin-left: 21rem;
}
/* comandi per i link */
a:visited {
    color:#ffffff;
}
a:hover {
    color:black;
    font-size: 17px;
}
/* article */
article {
    padding-left: 1rem;
}
article h2 {
    border-bottom: 0.1rem solid #bc6f17;
    color:#bc6f17;
    margin-top: 0;
    font-weight: 700;
    padding-right: 1rem;
}
article img {
    width: 10%;
    float: left;
    padding-right: 1rem;
}
article p {
    padding-right: 1rem;
}

#pedone-paragrafo {
    float: left;
}
tr {
    margin: 1rem;
}
article ul li {
    list-style-type: square;
}
#contattaci {
    position: fixed;
    bottom: 0;
    right: 1rem;
    padding: 0.5rem;
    background-color: #f5b01d;
    border-radius: 10%;
    color:#ffffff;
}
