#Title
{
    text-align: center;
}
#Instructions
{
    text-align: center;
}
form 
{
    text-align: center;
}

#RollIt
{
    text-align: center;
}

li 
{
    text-align: center;
    list-style-type: none; 
    border-bottom: 2px solid black;
}

p
{
    text-align: center;
}

#rolls
{
    border-bottom: 2px solid black;
}

#DiceRolls 
{
    text-align: center;
    border: 50px;
}

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

