@media (max-width:960px) {
    #Title {
        text-align: center;                                                                                                                                                             
    }

    #Instructions {
        text-align: center;
    }

    form {
        text-align: center;
    }

    #RollIt {
        text-align: center;
    }

    li {
        text-align: center;
        list-style-type: none;
        border-bottom: 2px solid black;
    }

    p {
        text-align: center;
    }

    #rolls {
        border-bottom: 2px solid black;
    }

    #DiceRolls {
        text-align: center;
        padding: 0px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
    }

}

@media (min-width:961px) 
{
    #rolls, form 
    {
        float: left;
        width: 45%;
    }

    #rolls
    {
       position: relative;
       left: 31.5%;
    }

    #DiceRolls 
    {
        float: right;
        width: 45%;
    }

    footer
    {
        position:fixed;
        bottom:0;
        left:0;
    }

    li {
        text-align: center;
        list-style-type: none;
        border: 2px solid black;
    }
    
}