#Title
{
    text-align: center;
}
#Instructions
{
    text-align: center;
}
form 
{
    text-align: center;
    
}

#RollIt
{
    text-align: center;
}

p
{
    text-align: center;
}

#DiceRolls 
{
    text-align: center;
}

footer
{
    position: absolute;
    bottom: 10px;
}

