* {
    background-color: rgb(252, 220, 190);
    margin: 0px;
    box-sizing: border-box; 
}

#titolo{
color: rgba(215, 28, 28, 0.395);
font-size: 40px;
margin: 1%;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

#immagineprincipale{
    position: absolute;
    z-index: 1;
    width: 60%;
    top: 50;
    left: 500;
}

#casacca{
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 100px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }