
#AboutUsParagraph{
    color:white;
  }
  #centerGrid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
 /* border: 1px solid red*/
  }

  #h1DescriptionWebsite{
    text-align:center; 
    color: var(--light-color);
  }

  #grid{
    /*border:1px solid blue;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    text-align: center;
  }

  @media (max-width: 1400px){
    #grid{
    grid-template-rows: 10rem 20rem;
    }
  }

  @media (max-width: 950px){
    #grid{
    display:flex;
    flex-direction: column;
    text-align: center;
    }
    #h1DescriptionWebsite{
      padding-bottom: 20px; 
    }
  }
  .divGrid{
    align-self: center;
    max-height: 100%;
  }
  img{
    border-radius:5px
  }

  #AboutUsParagraph button{
    margin: 15px;
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    border-radius: 1rem;
    color:var(--main-color);
    padding: 8px 10px;
    align-items: left;
}
#AboutUsParagraph button:hover{
  margin: 15px;
  border: 1px solid var(--light-color);
  background-color: var(--main-color);
  border-radius: 1rem;
  color:var(--light-color);
  padding: 8px 10px;
  align-items: left;
}