header h1
{
    text-align: center;
}

body
{
    background-color: #d69df4;
}

.nuovaDomanda
{
    margin-left: auto;
    margin-right: auto;
}

#inputDomanda, .inputRisposta
{
    height: 5rem;
    width: 15rem;
}
form input
{
    display: block;
    margin-top: 0.2rem;
    width: fit-content;
}

ul li
{
    list-style-type: none;
}

li
{
    display: inline-block;
}
form
{
    padding: 0.2em;
    margin-bottom: 2em;
}

article
{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px,
}
article section
{
    border-width: 0.2rem;
    border-style: solid;
}

article section#sezioneDomanda
{
    margin-right: 2rem;
    height: fit-content;
}
article section#sezioneRisposte
{
    padding-right: 2rem;
}

div
{
    text-align: center;
}

.domanda
{
    border-width: 0.2rem;
    border: solid;
    border-radius: 5%;
    border-color: gainsboro;
    background-color: #c87cf1;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1rem;
    width: 90%;
    display: block;
}

.domanda input
{
    margin-left: auto;
    margin-right: auto;
}

.risposta
{
    display: block;
    background-color: #e3bdf8;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    padding-right: 0.1rem;
    border-width: 0.2rem;
    margin: 1rem;
    border-radius: 5%;
    border: solid;
    border-color: gainsboro;
}

.compari
{
    display: block;
}

.scompari
{
    display: none;
}

.data
{
    text-align: right;
    font-size: small;
}

#inserisciDomanda
{
    border-width: 0.2rem;
    border: solid;
    border-radius: 5%;
    border-color: gainsboro;
    background-color: #c87cf1;
    padding: 1rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}

section h1
{
    margin-left: 1rem;
}

input
{
    border-color: gainsboro;
    margin-bottom: 0.2rem;
    border-width: 0.2rem;
}

button
{
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: gainsboro;
    border-width: 0.2rem;
    margin-top: 0.2rem;
}

.bottoneElimina
{
    margin-right: 0.2rem;
}

#ricerca
{
    display: inline-block;
    padding-left: 2rem;
}

@media screen and (min-width: 576px)
{
    article {grid-template-columns: repeat(1, 1fr); };

}
@media screen and (min-width: 768px)
{
    article {grid-template-columns: repeat(2, 1fr); };
}