/* variabili CSS */
:root {
    --color-background: #1d2033;
    
    /* <button> e <input> */
    --color-button: #f44479;
    --color-input-inside: #131420;
    --width-input-button: 24rem;
    --height-input-button: 2.5rem;
    --thickness-border: 0.15rem;
    --border-input-select: var(--thickness-border) solid grey;
    
    /* scritte */
    --color-text: white;
    --margin-top-text: 0.9rem;
    --margin-bottom-text: 0.2rem;
}

/* ------------------------------------ GENERALE ------------------------------------ */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color-background);
}
#paginaLogin, #paginaSignin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#paginaSignin {
    display: none;
}

/* -------------------------- TESTO <p> -------------------------- */
.pLoginRegistrazione {
    margin-top: var(--margin-top-text);
    margin-bottom: var(--margin-bottom-text);
    color: var(--color-text);
}

/* <p> "ricordami" e "accetto i termini" */
.labelCheckbox p {
    color: var(--color-text);
}

/* -------------------------- LOGO -------------------------- */
#logo {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation-name: App-logo-spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes App-logo-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#logo:hover {
    transform: scale(1.02);
}

/* -------------------------- TITOLO <h1> -------------------------- */
#paginaLogin h1, #paginaSignin h1 {
    margin-top: 1rem;
    color: var(--color-text);
    font-size: 1.8rem;
}

/* -------------------------- PARTE SOCIAL -------------------------- */
#loghiSocial {
    display: flex;
    justify-content: space-evenly;
}
.buttonLoghi {
    height: 3rem;
    width: 3rem;
    border: none;
    margin: 0.4rem;
    background-color: white;
}

/* -------------------------- RIGA -------------------------- */
#rigaGrigia {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background-color: #908e9740;
    height: 2px;
    width: var(--width-input-button);
}
#rigaGrigia p {
    background-color: var(--color-background);
    text-align: center;
    width: 2rem;
}

/* -------------------------- <label> -------------------------- */
#paginaLogin label, #paginaSignin label {
    font-size: 0.8rem;
    font-weight: bold;
    width: var(--width-input-button);
}

/* -------------------------- <input> -------------------------- */
.inputLoginSignin {
    height: var(--height-input-button);
    width: var(--width-input-button);
    background-color: var(--color-input-inside);
    color: var(--color-text);
    padding-left: 0.8rem;
    font-size: 1rem;
    border: var(--border-input-select);
    border-radius: 0.5rem;
}
.inputLoginSignin:hover {
    box-shadow: 0px 0px 2rem #0c0e15;
}

/* <input> checkbox "ricordami" e "accetta i termini" */
.labelCheckbox {
    display: flex;
    align-items: center;
    margin-top: var(--margin-bottom-text);
    margin-bottom: var(--margin-bottom-text);
}
#checkboxRicordami, #checkboxTermini {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
}


/* -------------------------- <button> -------------------------- */
#paginaLogin button, #paginaSignin button {
    border-radius: 0.5rem;
}

/* <button> disabilitati */
.buttonDisabled {
    height: var(--height-input-button);
    width: var(--width-input-button);
    background-color: var(--color-button);
    border: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1rem;
    opacity: 0.5;
}

/* <button> abilitati */
.buttonEnabled:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 0px 2rem rgb(41, 48, 76);
} 

/* <button> "accedi" e "registrati" */
.buttonAccediRegistrati {
    height: var(--height-input-button);
    width: var(--width-input-button);
    background-color: var(--color-button);
    border: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1rem;
}

/* <button> "crea account" */
#buttonCreaAccount {
    height: var(--height-input-button);
    width: var(--width-input-button);
    background-color: var(--color-input-inside);
    border: var(--thickness-border) solid var(--color-button);
    color: var(--color-text);
    font-weight: bold;
    font-size: 1rem;  
}

/* <button> "indietro" */
#divButtonBack {
    width: var(--width-input-button);
}
#buttonBack {
    height: 1.8rem;
    width: 5rem;
    background-color: #3f3f52;
    border: none;
    color: var(--color-text);
    font-weight: bold;
    font-size: 0.8rem;
}

/* -------------------------- <select> -------------------------- */
#dataDiNascita {
    display: flex;
    justify-content: space-between;
    width: var(--width-input-button);
    column-gap: 2px;
}
#paginaSignin select {
    height: var(--height-input-button);
    background-color: var(--color-input-inside);
    width: 33%;
    color: grey;
    padding-left: 0.8rem;
    font-size: 1rem;
    border: var(--border-input-select);
    border-radius: 0.5rem;
}
#paginaSignin select:hover {
    box-shadow: 0px 0px 2rem #0c0e15;
    cursor: pointer;
}
#paginaSignin option:focus {
    color: var(--color-text);
}

/* -------------------------- LINK <a> -------------------------- */
#paginaLogin a {
    text-decoration: none;
}
#paginaLogin a:hover {
    text-decoration: underline;
}
#paginaLogin a:visited {
    color: var(--color-button);
}

/* <a> "hai dimenticato la password?" */
#testoPasswordDimenticata {
    text-align: center;
    color: var(--color-button);
    margin-top: var(--margin-top-text);
    margin-bottom: var(--margin-top-text);
}

/* -------------------------- SCROLLBAR -------------------------- */
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--color-background);
}
::-webkit-scrollbar-thumb {
background-color: #53535e;
border-radius: 10rem;
}
::-webkit-scrollbar-track {
background-color: var(--color-background);
}






















  

