body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: #1d2033;
    display: flex;
    justify-content: center;
}

/* VISUALIZZAZIONE PAGINE DIVERSE */
#paginaSignin {
    display: none;
}


/* ------------------------------------ GENERALE ------------------------------------ */
#paginaLogin, #paginaSignin {
    background-color: red;
    width: 25rem;
}
.pLoginRegistrazione {
    margin-top: 0rem;
    margin-bottom: 0.2rem;
}

    /* pagina login */
    #contenitoreLogin {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22rem;
    }
    #contenitoreLogin form {
        padding: 1rem;
        width: auto;
    } 
    #paragrafoRegistrati {
        text-align: center;
        margin-bottom: 0.5rem;
        color: #f44479;
    }

    /* pagina signin */
    #divBack {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contenitoreSignin {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 31rem;
        margin-bottom: 3rem;
    }
    #datiAnagrafici {
        display: flex;
    }

/* -------------------------- LABEL -------------------------- */
#contenitoreLogin label, #contenitoreSignin label {
    display: block;
    padding-bottom: 0.4rem;
    padding-top: 0.9rem;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

/* -------------------------- LOGO -------------------------- */
#divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
#logo {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation-name: App-logo-spin;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
#logo:hover {
    transform: scale(1.1);
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* -------------------------- TITOLO -------------------------- */
#paginaLogin h1, #paginaSignin h1 {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-size: 1.8rem;
}

/* -------------------------- SOCIAL -------------------------- */
#loghiSocial {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#paginaLogin span, #paginaSignin span {
    padding: 0.5rem;
}

/* -------------------------- RIGA GRIGIA -------------------------- */
#contenitoreRiga {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
#rigaGrigia {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background-color: #908e9740;
    height: 2px;
    width: 23rem;
}
#or {
    background-color: #1d2033;
    text-align: center;
    width: 2rem;
}

/* -------------------------- CASELLE DI INPUT (1/2) -------------------------- */
#paginaLogin input:hover , #paginaSignin input:hover {
    box-shadow: 0px 0px 2rem #0c0e15;
}

    /* pagina login */
    #username, #password {
        height: 2.1rem;
        width: 22rem;
        background-color: #131420;
        color: white;
        padding-left: 0.8rem;
        font-size: 1rem;
        border: 0.15rem solid grey;
        border-radius: 0.5rem;
    }
    
    /* pagina signin*/
    #inputNome, #inputCognome {
        height: 2.1rem;
        width: 10.3rem;
        background-color: #131420;
        color: white;
        padding-left: 0.8rem;
        font-size: 1rem;
        border: 0.15rem solid grey;
        border-radius: 0.5rem;
    }
    #inputNome {
        margin-right: 0.2rem;
    }
    #nuovaPassword {
        width: 22rem;
    }
    .inputEmailUsernamePassword {
        height: 2.1rem;
        width: 22rem;
        background-color: #131420;
        color: white;
        padding-left: 0.8rem;
        font-size: 1rem;
        border: 0.15rem solid grey;
        border-radius: 0.5rem;
    }
    
/* -------------------------- CASELLE DI INPUT: CHECKBOX (2/2) -------------------------- */

label#labelCheckboxRicordami, label#LabelCheckboxTermini {
    display: flex;
    align-items: center;
}
#checkboxRicordami, #checkboxTermini {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
}

/* -------------------------- ELEMENTI BUTTON -------------------------- */
#paginaLogin button , #paginaSignin button {
    border-radius: 0.5rem;
}
.buttonLoghi {
    height: 3rem;
    width: 3rem;
    border: none;
}
button:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 0px 2rem rgb(41, 48, 76);
} 

    /* pagina login */
    #buttonAccedi {
        margin-top: 0.5rem;
        height: 2.4rem;
        width: 23.3rem;
        background-color: #f44479;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }
    #buttonRegistrati {
        margin-top: 0.5rem;
        height: 2.5rem;
        width: 23.3rem;
        background-color: #131420;
        border: 0.15rem solid #f44479;
        color: white;
        font-weight: bold;
        font-size: 1rem;  
    }

    /* pagina signin */
    #buttonBack {
        margin-right: 19rem;
        margin-top: 1rem;
        height: 1.8rem;
        width: 5rem;
        background-color: #3f3f52;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
    }
    #buttonRegistratiRegistrazione {
        margin-top: 0.5rem;
        height: 2.4rem;
        width: 23.3rem;
        background-color: #f44479;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }

/* -------------------------- LINK -------------------------- */
    /* pagina login */
    #paginaLogin a {
        text-decoration: none;
    }
    #paginaLogin a:hover {
        text-decoration: underline;
    }
    #paginaLogin a:visited {
        color: #f44479;
    }

/* -------------------------- SELECT -------------------------- */
    /* pagina signin */
    #paginaSignin select {
        height: 2.5rem;
        width: 7.55rem;
        background-color: #131420;
        color: grey;
        padding-left: 0.8rem;
        font-size: 1rem;
        border: 0.15rem solid grey;
        border-radius: 0.5rem;
    }
    #paginaSignin select:hover {
        box-shadow: 0px 0px 2rem #0c0e15;
        cursor: pointer;
    }
    #paginaSignin option:focus {
        color: white;
    }


/* -------------------------- SCROLLBAR -------------------------- */
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #1d2033;
}
::-webkit-scrollbar-thumb {
background-color: #53535e;
border-radius: 10rem;
}
::-webkit-scrollbar-track {
background-color: #1d2033;
}






















  

