body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1d2033;
}
#divBack {
    display: flex;
    justify-content: center;
    align-items: center;
}
#divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
#logo {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
h1 {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-size: 1.8rem;
}
#loghiSocial {
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    padding: 0.5rem;
}
#contenitoreRiga {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
#rigaGrigia {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background-color: #908e9740;
    height: 2px;
    width: 23rem;
}
#or {
    background-color: #1d2033;
    text-align: center;
    width: 2rem;
}
#contenitoreSignin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31rem;
    margin-bottom: 3rem;
}
#datiAnagrafici {
    display: flex;
}
label {
    display: block;
    padding-bottom: 0.4rem;
    padding-top: 0.9rem;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}
p {
    margin-top: 0rem;
    margin-bottom: 0.4rem;
}
#LabelCheckboxTermini {
    display: flex;
    align-items: center;
}
#checkboxTermini {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    cursor: pointer;
}


/* INPUT */
#inputNome, #inputCognome {
    height: 2.1rem;
    width: 10.3rem;
    background-color: #131420;
    color: white;
    padding-left: 0.8rem;
    font-size: 1rem;
    border: 0.15rem solid grey;
    border-radius: 0.5rem;
}
#inputNome {
    margin-right: 0.2rem;
}
#nuovaPassword {
    width: 22rem;
}
.inputEmailUsernamePassword {
    height: 2.1rem;
    width: 22rem;
    background-color: #131420;
    color: white;
    padding-left: 0.8rem;
    font-size: 1rem;
    border: 0.15rem solid grey;
    border-radius: 0.5rem;
}
input:hover {
    box-shadow: 0px 0px 2rem #0c0e15;
}

/* SELECT */
select {
    height: 2.5rem;
    width: 7.55rem;
    background-color: #131420;
    color: grey;
    padding-left: 0.8rem;
    font-size: 1rem;
    border: 0.15rem solid grey;
    border-radius: 0.5rem;
}
select:hover {
    box-shadow: 0px 0px 2rem #0c0e15;
    cursor: pointer;
}
option:focus {
    color: white;
  }

/* PULSANTI */
button {
    border-radius: 0.5rem;
}
#buttonBack {
    margin-right: 19rem;
    margin-top: 1rem;
    height: 1.8rem;
    width: 5rem;
    background-color: #3f3f52;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}
.buttonLoghi {
    height: 3rem;
    width: 3rem;
}
#buttonRegistrati {
    margin-top: 0.5rem;
    height: 2.4rem;
    width: 23.3rem;
    background-color: #235fe3;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
button:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 0px 2rem #0c0e15;
} 

/* BARRA DI SCORRIMENTO */
::-webkit-scrollbar {
    width: 0.5rem; /* larghezza della barra di scorrimento */
    background-color: #1d2033; /* colore di sfondo della barra di scorrimento */
}
  
::-webkit-scrollbar-thumb {
    background-color: #53535e; /* colore della parte mobile della barra di scorrimento */
    border-radius: 10rem; /* bordo arrotondato della parte mobile della barra di scorrimento */
}
  
::-webkit-scrollbar-track {
    background-color: #1d2033; /* colore della parte fissa della barra di scorrimento */
}
  