body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 5rem 1fr;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    /* position: fixed; */
    top: 0;
    grid-column: 1/3;
    /* width: 100%; */
    background-color: #232f3e;
    color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}
/*//////////////////////FORM E COMPONENTI FORM////////////////////////*/
#index_form {
    background-color: #ffffff;
    /* display: block; */
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    border: 1px solid #ddd;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.5);
}
form label{
    align-self: flex-start;
}

input[id="subject-name"], input[id="teacher-name"] {
    padding: 6px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type="reset"] {
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
    border: solid 1px rgb(184, 184, 184);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}


input[type="submit"] {
    padding: 5px;
    background-color: #232f3e;
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}

.colors {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 20px;
}
  
.color {
    height: 20px;
    width: 20px;
    margin: 3px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    border: 2px solid #aaa;
    cursor: pointer;
}

/*#subject-color{
    border-radius: 50%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

input[type="color"]:focus,
input[type="color"]:active {
  border-color: #999;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  box-shadow: none;
  border: none;
}*/
/*///////////////////CONTENITORE DELLE MATERE///////////*/
#subjects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;
}
   /*/////////////////////CONTENITORE MATERIA///////////////////////*/
   /* Stile del contenitore della materia */
   
.subject-container {
    width: -webkit-fill-available;
    min-height: -webkit-fill-available;
    padding: 10px;
    align-self: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
		
/* Stile del titolo della materia */
.subject-title {
	font-size: 2em;
	font-weight: bold;
    color:#ffffff;
    margin: 0;
}
		
/* Stile del nome del professore */
.teacher-name {
	font-size: 1.5em;
    color: rgb(255, 255, 255);
}
		
/* Stile della media dei voti */
.average-grade {
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
}