body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    /*background-color: #232f3e;    COLORE ORIGINALE DI SFONDO*/   
    background-image: url("../img/background_login.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: block;
}

.container h1{
    text-align: center;
}

.container form{
    display: block;
    margin: 3vh;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px;
    background-color: #232f3e;
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}
