* {
    background-color: black;
}

nav h1 {
    color: red;
    font-family: sans-serif;
    display: inline-block;
    font-size: xx-large;
}

nav li {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;

}

nav li img {
    width: 30px;
    height: 25px;
}

nav li #ricerca {
    margin-left: 0%;
    width: 30px;
    height: 25px;
    display: inline-block;
}

#info {
    color: white;

}

#info:hover {
    color: yellow;
}

ol h1 {
    margin-right: 50px;
}

section {
    color: white;
    background-color: red;
    height: 100px;
    margin-top: 40px;
}

section ol {
    background-color: red;
}

section ol li {
    display: inline-block;
    margin-right: 90px;
    margin-left: 50px;
    height: 100px;
    font-weight: bold;
    font-size: xx-large;
    font-style: oblique;
    background-color: red;
    margin-bottom: 40px;
}

section ol li img {
    margin-right: 90px;
    margin-left: 70px;
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
}

section ol li p {
    background-color: red;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 180px;
    font-family: monospace
}

h2 b {
    color: yellow;
}

#prodotti ol li {
    margin-top: 50px;
    background-color: black;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

#prodotti ol {
    background-color: black;
}

#prodotti ol li p {
    background-color: black;
    color: white;
    margin-left: 30px;

}
#prodotti p:hover{
    color: red;
}


/*-----------SLIDER IMMAGINI-------------*/

.slider-container {
    width: 800px;
    height: 200px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container {
    width: 2400px;
    background-color: black;
    height: 200px;
    clear: both;
    position: relative;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

#slider-image-1:target~.image-container {
    left: 0px;
}

#slider-image-2:target~.image-container {
    left: -800px;
}

#slider-image-3:target~.image-container {
    left: -1600px;
}

.button-container {
    position: relative;
    top: -20px;
}

.slider-change {
    display: inline-block;
    height: 30px;
    width: 10px;
    border-radius: 0px;
    background-color: brown;
}

.slider-image {
    width: 300px;
    height: 250px;
}

/*-----------SLIDER IMMAGINI FINE-------------*/