*{
    background-color: beige;
}

body{
    margin: 0px;
}

/* -----HEADER----- */

#scacchiera{
    width: 100%;
    
}

h1 {
    font-size: 60px;
    color: brown;
    margin-left: 16px;
}

/* -----NAV----- */

nav{
    position: sticky;
    top: 0px;

    text-align: right;
    background-color: rgb(115, 27, 27);
    font-size: 30px;
    padding: 5px;
}

nav a{
    background-color: rgb(115, 27, 27);
    margin-right: 2em;
    color: white;
    padding: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:visited{
    color: yellow;
}

nav a:hover{
    color: red;
}

nav ol li{
    display: inline-block;
    background-color: rgb(115, 27, 27);
}

nav ol {
    background-color: rgb(115, 27, 27);
}


/* -----ARTICLE----- */

article{
    padding: 2rem
}

h2{
    color:rgb(115, 27, 27);
    font-size: 30px;
}

.piece{
    width: 360px;
    height: 360px;
}   


/* -----SECTION----- */

section img {
    float:left;
    margin-right: 3rem;
}

section p {
    height: 25rem;
}


/* -----DIV----- */

div {
    position: fixed;
    bottom: 50px; left: 83rem;
    background-color: brown;
    width: 50px;
    height: 50px;
    margin: 2rem;
}


/* -----FOOTER----- */

#paragrafo-piedi{
    background-color: rgb(115, 27, 27);
    color: white;
    margin: 0;
    padding: 1rem;
    text-align: right;
}