h1 {
    color: chartreuse;
}

h2 {
    color: blue;
}

body {
    background-color: black;
    margin: 1rem;
    padding: 3rem;
    border: 1rem solid yellow;
}

p {
    color: goldenrod;
    margin top: 40px;
    margin-botton: 0px;

}

#ultimo-paragrafo {
    margin-top: 2em;
    font-size: 30px;
}

img {
    margin: 0.2rem;
    border: 1px solid red;
    padding: 8px;
    width: 100px;
}

* {
    box-sizing: border-box;
}