body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
  
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px;
    margin: 50px;
}
  
h2 {
    margin-top: 0;
}
  
/*input[type="text"], input[type="date"], input[type="time"] select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid gray;
}*/
  
input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    background-color: lightblue;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}