/*ARTICLE--------------------------------------------------------------------------------------------------------*/
article{
    margin-top: 0;
    padding-top: 0;
}

article #gif{
    background-image: url(../images/img-article/giphy.gif);
    background-size: cover;
    opacity: 0.6;
    padding-bottom: 500px;
}

        /*DESKTOP*/
        @media(min-width: 970px){
            article #gif{
                max-height:500px;
            }

            article nav ul{
                height: 400px;
                margin-left: 100px; 
                padding-top: 15px;
                font-size:25px;
            }

            article nav ul h1 {
                list-style-type: none;
                text-align: left;
                font-size:40px;
                color: rgb(213, 162, 105);
                font-weight: bold;
            }
        }
        
/*introduzione della pagina*/
#descriptionWebsite{
    padding-left: 50px;
    padding-right: 50px;
}

#wrapperDescriptionWebsite{
    display:flex;
    align-items:center;
    width: 75vw;
    padding: 80px 30px 50px 20px;
}

#wrapperDescriptionWebsite img{
    max-width:280px;
    width:28vw;
    height:300px;
    object-fit: cover;
    margin-right: 30px;
    border-radius:20px;
}

#wrapperDescriptionWebsite h1{
    color:var(--light-color);
}

#wrapperDescriptionWebsite p{
    color: white;
}
@media(width>=960px){
   #wrapperDescriptionWebsite{
       margin-left: 150px;
    }
}

@media (width<= 960px){
    #wrapperDescriptionWebsite{
        flex-direction: column;
        text-align:center;
        margin-right: 40px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 100px;
    }
    #wrapperDescriptionWebsite img{
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }
}

#chooseSaddleTypeButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
}


#chooseSaddleTypeTytle{
    text-align: center;
    color: var(--light-color);
    margin-bottom: 10px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
}

#chooseSaddleTypeButton > div > a> button{
display:inline-block;
padding:0.35em 1.2em;
margin:0 10px 0 0;
border: none;
border-radius:2px;
color: white;
text-align:center;
font-weight: bold;
transition: all 0.2s;
background-color: var(--light-color);
}

#chooseSaddleTypeButton > div > button:hover{
color: var(--main-color);
background-color: var(--light-color);
}

            
article #allSaddles{
    margin-left:50px;
    margin-right:50px;
}

.paragraphSaddleTypeDescription{
    text-align: center;
    color:white;
    margin-bottom: 20px;
    margin-top:5px;
}
    
           article #tytle1, #tytle2, #tytle3, #tytle4{
            text-align: center;
            margin-bottom:20px;
            font-size: 30px;
            color: var(--light-color);
        }
          
        .buy{
        height: 40px;
        width: 100px;
        background-color: black;
        border-radius: 0.5rem;
        color: white;
        font-weight: bold;
        }
        .buy:hover{
        background-color: white;
        border: 2px solid var(--light-color);
        color: var(--main-color)
        }


.sectionSaddlesCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*section delle selle nelle section jumping, dressage*/
/*JUMPING*/
.jumpSaddle{
    border:0.2px solid rgb(117, 112, 112);
    height: 290px;
    width: 180px;
    text-align: center;
   /*float: left;*/
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.4rem;   /** è angolazione dei bordi**/
    background-color: white; 
    border: 2px outset var(--light-color);   
}
        
         article #jumping{
            margin: 50px;
            margin-bottom:15px;
        }

        .jumpSaddle img, h1, p, button{
            margin:0;
        }
        
        .price{
            margin-bottom:3px;
        }

        
        article section .imgjump{
            height: 150px;
            width: 150px;
        
        }





/*DRESSAGE*/
.dreSaddle{
    border:0.2px solid rgb(117, 112, 112);
    height: 290px;
    width: 180px;
    text-align: center;
    /*float: left;*/
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.4rem;   /** è angolazione dei bordi**/
    background-color: white;
    border: 2px outset var(--light-color);  
}
        
        article #dressage{
            margin: 50px;
            margin-bottom:15px;
            }
            
                article section .imgdres{
                    height: 150px;
                    width: 150px;
                
                }

                .dreSaddle img, h1, p, button{
                    margin:0;
                }
                
                .price{
                    margin-bottom:3px;
                }


/*TREKKING*/
.trekSaddle{
    border:0.2px solid rgb(117, 112, 112);
    height: 290px;
    width: 180px;
    text-align: center;
    /*float: left;*/
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.4rem;   /** è angolazione dei bordi**/
    background-color: white;
    border: 2px outset var(--light-color); 
}

        article #trekking{
            margin: 50px;
            margin-bottom:15px;
            }
    
                .dreSaddle img, h1, p, button{
                    margin:0;
                }
                
                .price{
                    margin-bottom:3px;
                }

                article .imgtrek{
                    height: 150px;
                    width: 150px;
                
                }







/*WESTERN*/                
.westSaddle{
    border:0.2px solid rgb(117, 112, 112);
    height: 310px;
    width: 180px;
    text-align: center;
    /*float: left;*/
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.4rem;   /** è angolazione dei bordi**/
    background-color: white;
    border: 2px outset var(--light-color);  
}

        article #western{
            margin: 50px;
            margin-bottom:15px;
            }
            
                .dreSaddle img, h1, p, button{
                    margin:0;
                }
                
                .price{
                    margin-bottom:3px;
                }

                article section .imgwest{
                    height: 150px;
                    width: 150px;
                
                }

article section .price{

}
