/*FOOTER*/

.wrapperFooter{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 20px;
    justify-content: space-between;
   
}

footer{
    font-size: 10px;
    background-color: var(--light-color);
    color: white;
    padding:0;
    margin: 0;
    width:100%;
}

#footer >div >h2{
    font-size: 30PX;
    font-weight: bold;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.x{
    display: inline-block;
    margin: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color:var(--light-color);
}

.g{width:100%}