img {
    width: 55%;
    margin-right: 2rem;
    vertical-align: top;
    float: left;
}

p {
    color: red;
    width: 50%;
    
   display: inline;
}
ol li {
    display: inline-block;
    background-color: blueviolet;
    width: 2rem;
}