:root{
    --main-color: rgb(38,38,38);
    --light-color: rgb(143, 112, 78);
}

body{
    margin: 0;
    padding:0;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /*
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid rgb(158, 156, 156);
    */
    font-size: 15px;
    text-decoration: none;
    background-color: var(--main-color);
    border: 7px solid var(--light-color);
}


/*FORM*/
form{
    padding: 0;
    margin-bottom: 0;
}

#dl{
    color: white;
    opacity: 0.7;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    font-size: 20px;
}

#container{
    background-color: white;
    padding:10px;
    background-color: var(--light-color);
}

.label{
    display: inline-block;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

#shoppingCartMenu{
    display: none;
}

#shopButton{
    display: block;
    width: 90px;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 1rem;;
    border: 2px solid; 
    background-color: var(--main-color);
    color: var(--light-color)
}
/*
#cond{
    display: inline-block;
}
*/

#buttonHome{
    text-align: right;
    padding: 8px 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 1rem;
    background-color: var(--main-color);
    color: var(--light-color)
}