/*FOOTER*/
footer{
    background-color: var(--light-color);
    color: white;
    float: bottom;
    padding-bottom:0;
    margin-bottom: 0;
}
footer img{
    width: 50px;
    height: 50px;
}

#iconLogoFooter{
    width: 50px;
    height: 50px;
}

.x{
    display: inline-block;
    margin: 20px;
    background: trasparent;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#logoFooter{
    float: left;
}

#locationFooter{
    float: left;
}

#contactsFooter{
    float: left;
}

#hourFooter{
    float: left;
}

#socialFooter{
    float: left;
}
