/*HEADER*/
header{
    margin-bottom: 0;
    padding-bottom: 0;
   /* margin-left: 0;
    margin-right: 0;*/
    /*background-color: rgb(0, 0, 0);*/
    color: rgb(213, 162, 105);
}

header nav{
    text-align: right;
    
}
header nav #logo{
    display:inline-block;
    height:100px;
    width: 100px;
    justify-content: center;
    color: white;
  
}

header nav li{
    display: inline-block;
    padding: 16px;
    /*text-shadow: 2px 2px 4px #ffffff;*/
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#search{
    color:rgb(213, 162, 105);
    width: 
}