body {
    background-color: cornflowerblue;
    text-align: center;
    font-family: sans-serif;
}

#titolo {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

nav > ul > li {
    display: inline-block;
}

form > strong {
    display: block;
    margin: 2em auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form > label {
    display: block;
    margin: 0.5em auto;
}

#addExe {
    margin-top: 3em;
}