body{
    background-color: rgb(211, 211, 211);
}

header h1{
    text-align: center;
    color: rgb(0, 51, 102);
}

article{
    margin-left: 30%;
    margin-top: 15em;
}

button{
    font-size: 1em;
    display: block;
    margin-bottom: 0.6em;
    background-color: rgb(211, 211, 211);
    color: rgb(0, 51, 102);
    border: 1px solid rgb(0, 51, 102);
    border-radius: 1em;
    height: 3em;
    width: 40em;
}

button:hover{
    background-color: rgba(156, 155, 155, 0.379);
}

#aliExpress, #amazon, #barilla{
    display: none;
}

#aliExpress header h1, #amazon header h1, #barilla header h1{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 41%;
}

#aliExpress header button, #amazon header button, #barilla header button{
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 0.4em;
    width: 20em;
    position: absolute;
    top: 18px;
    right: 10px;
}

#aliExpress article, #amazon article, #barilla article{
    width: 95%;
    position: relative;
    right: 27%;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border: 1px solid rgb(211, 211, 211);
    padding: 8px;
    text-align: left;
    width: 10%;
}
  
th {
    background-color: rgb(0, 51, 102);
    color: white;
}
  
tr:nth-child(even) {
    background-color: rgba(156, 155, 155, 0.379);
}




  
  
  