
/*ARTICLE--------------------------------------------------------------------------------------------------------*/
article{
    margin-top: 0;
    padding-top: 0;
    /*background-color: rgb(240, 238, 238);*/
}



article #gif{
    background-image: url(../images/img-article/giphy.gif);
    background-size: cover;
}

        /*DESKTOP*/
        @media(min-width: 970px){
            article #gif{
                max-height:500px;
            }

            article nav ul{
                text-align: left;
                height: 1000px;
                margin-left: 100px; 
                padding-top: 15px;
                color: white;
                font-size:25px;
            }

            article nav ul h1 {
                list-style-type: none;
                text-align: left;
                font-size:40px;
                color: white;
            }
        }
        
        /*MOBILE / TABLET
        @media(max-width: 969px){
            
        }
        */
            /*NAV*/
            article nav{
                text-align: left;
                height: 400px;
                margin-left: -10px; 
                padding-top: 15px;
                color: white;
                padding-bottom: px;
            }

            article nav ul {
                list-style-type: none;
                
            }
            article nav h1 {
                list-style-type: none;
                text-align: left;
                font-size:20px;
                color: white;
            }

            article nav a{
                color: white;
            }

article #allSaddles{
    margin-left:50px;
    margin-right:50px;
}

    /*section delle saddles*/
    article #jumping{
    margin: 50px;
    margin-bottom:15px;
    }
        article #jumping #tytle1, #tytle2, #tytle3, #tytle4{
            text-align: center;
            margin-bottom:20px;
            font-size: 30px;
        }
/*
        article p #price{
            text-align: left;
        }
*/

/*section delle selle nelle section jumping, dressage*/
.jumpSaddle{
    border:0.2px solid rgb(117, 112, 112);
            height: 290px;
            width: 180px;
            text-align: center;
            /*float: left;*/
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 0.4rem;   /** è angolazione dei bordi**/
            background-color: white;
            
        }
        
        .jumpSaddle img, h1, p, button{
            margin:0;
        }
        
        article #dressage{
        margin: 50px;
        margin-bottom:15px;
        }
            article #dressage h1{
                text-align: center;
                margin-bottom:20px;
            }

        .dreSaddle{
            border:0.2px solid rgb(117, 112, 112);
            height: 290px;
            width: 180px;
            text-align: center;
            /*float: left;*/
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 0.4rem;   /** è angolazione dei bordi**/
            background-color: white;
        }
        
        article #trekking{
            margin: 50px;
            margin-bottom:15px;
            }
                article #trekking h1{
                    text-align: center;
                    margin-bottom:20px;
                }

        .trekSaddle{
            border:0.2px solid rgb(117, 112, 112);
            height: 290px;
            width: 180px;
            text-align: center;
            /*float: left;*/
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 0.4rem;   /** è angolazione dei bordi**/
            background-color: white;
        }

        article #western{
            margin: 50px;
            margin-bottom:15px;
            }
                article #western h1{
                    text-align: center;
                    margin-bottom:20px;
                }

        .westSaddle{
            border:0.2px solid rgb(117, 112, 112);
            height: 290px;
            width: 180px;
            text-align: center;
            /*float: left;*/
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 0.4rem;   /** è angolazione dei bordi**/
            background-color: white;
        }

article section .imgjump{
    height: 150px;
    width: 150px;

}
article section .price