*
{
    box-sizing: border-box;
}
body
{
    margin-top: 0px;
    background-color: rgb(68, 72, 87);
}

section#documento
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.75rem;
}

/* cambiare nome id */
section#corpo
{
    flex: 7;
    order: 1;
    border-color: rgb(255, 202, 89);
    border-width: 0.2rem;
    border-style: solid;
    margin-top: 0px;
    background-color: rgb(255, 255, 255);
    min-width: auto;
}

/* SECTION SOCIAL  */
section#linkSocial
{
    flex: 1;
    order: 2;
    background-color: white;
    min-width: auto;
    width: auto;
    border-color: darkkhaki;
    border-width: 0.2rem;
    border-style: solid;
    overflow: hidden;
}
section#linkSocial form#social
{
    padding: 4%;
}
section#linkSocial h1
{
    padding-left: 4%;
    padding-right: 4%;
}
section#linkSocial form#social input[type="text"],input[type="link"]
{
    display: block;
    margin-top: 0.2rem;
    width: fit-content;
}
section#linkSocial figure#listaSocial
{
    text-align: center;
}
section#linkSocial figure#listaSocial a
{
    color: darkkhaki;
}
section#linkSocial figure#listaSocial img.zoom
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: white;
    border-radius: 25%;
    transition: transform .2s;
}
section#linkSocial figure#listaSocial img.zoom:hover
{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/* SECTION SOCIAL  */

header
{
    position: sticky;
    top: 0px;
}
h1#titolo
{
    border-color: rgb(255, 202, 89);
    border-width: 0.2rem;
    border-style: solid;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    margin-bottom: 0rem;
    margin-top: 0px;
    background-color: rgba(255, 225, 103, 0.979);
}
nav#menu
{
    background-color: rgb(255, 241, 223);
}
nav#menu li
{
    display: inline-block;
    list-style: none;
    padding: 0.2rem;
    align-items: center;
}
nav#menu ul
{
    border-color: rgb(255, 202, 89);
    border-width: 0.2rem;
    border-style: solid;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    margin-top: 0rem;
}
nav#menu a.zoom
{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: transform 0.2s;
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem;
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    background-color: rgb(251, 246, 188);
    border-radius: 12%;
}
nav#menu a.zoom:hover
{  
    background-color: rgb(255, 202, 89);
    color: rgb(255, 255, 255);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
nav#menu a.active.zoom
{
    background-color: #2196F3;
    color: white;
}

/* cambiare i nomi id */
article#formTracce
{
    display: grid;
    /* text-align: center;  */
}
article#formTracce section#formAggiunta
{
    border-color: rgb(255, 202, 89);
    border-width: 0.2rem;
    border-style: solid;
    background-color: rgb(230, 254, 255);
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2rem;
    min-width: fit-content;
    /* width: fit-content; */
}
article#formTracce section#listaTraccePerMese
{
    border-color: rgb(255, 202, 89);
    border-width: 0.2rem;
    border-style: solid;
    background-color: rgba(255, 224, 100, 0.5);
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    min-width: fit-content;
    width: fit-content;
}
article#formTracce section#listaTraccePerMese
{
    border-color: rgb(255, 202, 89);
    border-width: 0.2rem;
    border-style: solid;
    background-color: rgba(255, 224, 100, 0.5);
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    min-width: fit-content;
    width: fit-content;
}
article#formTracce section#listaTraccePerMese ul#listaTracce
{
    padding-right: 40px;
}
article#formTracce section#listaTraccePerMese ul#listaTracce ul
{
    background-color: rgb(255 247 165);
    padding-right: 0px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0rem;
    margin-bottom: 0rem;
    opacity: 0;
}

article#formTracce section#listaTraccePerMese ul#listaTracce ul h1
{
    font-size: small;
    color: rgb(108, 108, 108);
    border-color: rgb(108, 108, 108);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: dashed;
}
article#formTracce section#listaTraccePerMese ul#listaTracce li.zoom
{
    background-color: rgb(255, 251, 236, 0.5);
    list-style: none;
    width: auto;
    transition: box-shadow .3s transform .2s;
}
article#formTracce section#listaTraccePerMese ul#listaTracce li.zoom:hover
{
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    color: blue;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
/* cambiare i nomi degli id */
article#articolo2
{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1.75rem;
}
/* FORM TRACCIA */
form#traccia button
{
    margin-top: 0.2rem;
}
form#traccia input
{
    display: block;
    margin-top: 0.2rem;
    width: fit-content;
}
/* FORM TRACCIA */

footer#piePagina
{
    border-color: rgb(255, 202, 89);
    border-width: 0.2rem;
    border-style: solid;
    border-bottom: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* padding-top: 60px; */
    margin-top: 1.75rem;
    background: grey;
    grid-row-end: 5000;
    /* text-align: center; */
    border: 0px;
}
section.canzone
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    order: 2;
    margin-bottom: 2.75rem;
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem;
    border-style: solid;
}
section.canzone p
{
    flex: 3;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
section.canzone p.prezzo
{
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}
section.canzone button.zoom
{
    background-color: rgb(255 253 232);
    border-color: transparent;
    cursor: pointer;
    text-align: end;
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: box-shadow .3s transform .2s;
}
section.canzone button.zoom:hover
{
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    color: blue;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

section.titoloESort
{
    display: flex;
    flex-wrap: wrap;
}
section.titoloESort h1
{
    flex: 1;
}
section.titoloESort button.zoom
{
    background-color: rgb(255 253 232);
    border-color: transparent;
    cursor: pointer;
    text-align: right;
    margin-left: 0.5rem;
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    transition: box-shadow .3s transform .2s;
}
section.titoloESort button.zoom:hover
{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: blue;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

@media (min-width: 150px)
{
    nav#menu a.zoom {padding: 5%; font-size: 15px; }
    section#documento {display: grid; }
}

@media (min-width: 450px)
{
    article#formTracce section#listaTraccePerMese ul#listaTracce ul {padding-left: 0px; padding-right: 0px !important; }
    article#formTracce input[type="text"] {width: 90px; }
    article#formTracce select {width: 90px; }
    section#documento {display: flex; }
}
@media (min-width: 670px)
{
    article#formTracce section#listaTraccePerMese ul#listaTracce ul {padding-left: 40px !important; padding-right: 40px !important; }
    article#formTracce {grid-template-columns: repeat(1, 1fr); }
    article#formTracce input[type="text"] {width: fit-content; }
    article#formTracce select {width: fit-content; }
    nav#menu a.zoom {padding: 10%; }
    nav#menu li {display: inline-block; }
    nav#menu a.zoom {padding: 14px 16px; }
}
/* @media (min-width: 700px)
{
} */
@media (min-width: 960px)
{
    article#formTracce { grid-template-columns: repeat(2, 1fr); }
}