*
{
    box-sizing: border-box;
}

html
{
    height: 100%;
}

/*VARIABILI*/

:root
{
    --colore-scuro: rgb(50, 54, 67);
    --colore-mezzo-scuro: rgb(68, 72, 87);
    --colore-chiaro: rgb(255, 255, 255);
    --colore-mezzo-chiaro: rgb(242, 242, 242);
    --colore-oro: darkkhaki;
    --colore-giallo:rgb(255, 202, 89);
    --colore-azzurro: #00c6ff;
    --colore-azzurro-scuro: #247ecd;
    --grandezza-carta: 250px;
    --border-radius-default: 5px;
}

/*VARIABILI*/

body
{
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

::-webkit-scrollbar
{
    width: 6px;
}

::-webkit-scrollbar-thumb
{
    /* background: linear-gradient(transparent, var(--colore-oro)); */
    background: linear-gradient(transparent, var(--colore-azzurro));
    border-radius: var(--border-radius-default);
}

#progress-container
{
    width: 100%;
    height: 8px;
    background: #ccc;
    margin: 1rem 0rem 0rem 0px;
    transition: 0.4s;
}

.progress-bar
{
    height: 8px;
    background: var(--colore-azzurro);
    width: 0%;
}


/* ::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(transparent, var(--colore-azzurro)); 
} */


/* con questo, l'utente non potrà mai selezionare un'immagine */

img
{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

[data-tooltip]
{
    position: relative;
    cursor: default;
}

[data-tooltip]::after
{
    position: absolute;
    width: fit-content;
    bottom: 105%;
    text-align: center;
    content: attr(data-tooltip);
    color: var(--colore-chiaro);
    background: rgb(189, 183, 107, 0.9);
    padding: 8px;
    border-radius: var(--border-radius-default);
    font-size: 0.9rem;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s ease;
}

[data-tooltip]:hover::after
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* LOADER */

#loader-wrapper
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--colore-scuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader
{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid var(--colore-chiaro);
    animation: loader 2s infinite ease;
}

.loader-inner
{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--colore-chiaro);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(180deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    75%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner
{
    0%
    {
        height: 0%;
    }
    25%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
    75%
    { 
        height: 100%
    }
    100%
    {
        height: 0%;
    }
}

@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
     }
}

/* LOADER */

/* SECTION SOCIAL  */

section#side-nav
{
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    background-color: var(--colore-scuro);
    color: var(--colore-chiaro);
    border: solid var(--colore-oro);
    border-width: 0px 4px 0px 0px;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/7;
}

section#side-nav:hover
{
    overflow-y: scroll;
}

section#linkSocial
{
    min-width: auto;
    width: auto;
    overflow: hidden;
    height: fit-content;
    border-radius: var(--border-radius-default);
}

section#linkSocial form#social
{
    padding: 4%;
}

section#linkSocial h1
{
    padding: 0px 4% 0px 4%;
    border-width: 0px 0px 2px 0px;
    border-style: groove;
}

section#linkSocial form#social input[type="text"],
input[type="url"]
{
    display: inline-block;
    margin: 0.2rem;
    width: 100%;
    min-width: fit-content;
}

section#linkSocial section#listaSocial
{
    text-align: center;
    margin: auto;
}

section#linkSocial section#listaSocial section
{
    margin-bottom: 15%;
}

section#linkSocial section#listaSocial a
{
    color: var(--colore-oro);
}

section#linkSocial section#listaSocial img.zoom
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: var(--colore-chiaro);
    border-radius: var(--border-radius-default);
    transition: transform .2s;
    transition: all 0.3s;
}

section#linkSocial section#listaSocial img.zoom:hover
{
    -ms-transform: scale(1.3) rotate(5deg);
    -webkit-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}


/* SECTION SOCIAL  */

/* header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 20px 0px 0px 0px;
    background-color: var(--colore-mezzo-scuro);
    grid-column: 2/9;
    height: 100%;
    position: sticky;
    top: 0;
} */

nav#menu
{
    margin-top: 0rem;
    display: flex;
    justify-content: left;
    background-color: var(--colore-mezzo-scuro);
    overflow: hidden;
    transition: 0.4s;
    flex-wrap: wrap;
    padding-top: 20px;
    grid-column: 2/9;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: right;
}

nav#menu a#logout
{
    background-color: #cb0000;
    color: white
}

nav#menu a#logout:hover
{
    background-color: red;
}

nav#menu a.zoom
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: transform 0.2s;
    border-color: var(--colore-mezzo-chiaro);
    border-width: 0px 0px 0px 0.2rem;
    border-style: solid;
    background-color: var(--colore-mezzo-chiaro);
    border-radius: var(--border-radius-default);
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: solid var(--colore-oro);
}

nav#menu a.zoom:hover
{
    background-color: var(--colore-giallo);
    color: rgb(255, 255, 255);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border: solid var(--colore-giallo);
}

nav#menu a.active.zoom
{
    background-color: #2196F3;
    color: var(--colore-chiaro);
}

nav#menu a.active.zoom:hover
{
    background-color: var(--colore-azzurro);
}


/* cambiare i nomi id */

section#formTracce
{

    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/9;
    width: 100%;
    height: fit-content;
    margin: auto;
    overflow: hidden;

}

section#formTracce section#formAggiunta
{
    margin: 1.5rem 2.5rem 0rem 2.5rem;
    padding: 0rem 4% 2rem 4%;
    min-width: fit-content;
    width: fit-content;
    height: fit-content;
}

input[type="text"],
input[type="url"]
{
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--border-radius-default);
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: var(--colore-mezzo-chiaro);
}

/* FORM TRACCIA */

form#traccia button
{
    margin-top: 0.2rem;
}

form#traccia input
{
    display: block;
    margin-top: 0.2rem;
    width: fit-content;
}


/* FORM TRACCIA */

footer#piePagina
{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background-color: var(--colore-mezzo-scuro);
    color: var(--colore-chiaro);
    margin-top: auto;
    grid-column: 2/9;
}

/*GALLERIA DI IMMAGINI*/

section#galleriaImmagini
{
    text-align: center;
    background-color: var(--colore-mezzo-chiaro);
    margin-top: 1.5rem;
    padding-bottom: 0.25rem;
    text-align: -webkit-center;
    grid-column: 2/9;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

section#galleriaImmagini h1
{
    font-size: large;
    width: fit-content;
    max-width: fit-content;
    text-align: center;
    display: inline;
}

section#corpoGalleria
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    margin: auto;
}

section#corpoGalleria img
{
    width: 100%;
}

section#corpoGalleria button,
section#galleriaImmagini button#deleteImage
{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin: auto;
    visibility: hidden;
    font-size: 30px;
}

section#galleriaImmagini button#deleteImage
{
    color: var(--colore-chiaro);
    background-color: #cb0000;
    font-size: 20px;
    border: none;
    margin: 0.5rem 0.25rem;
    transition: box-shadow .3s transform .2s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section#galleriaImmagini button#deleteImage:hover
{
    background-color: red;
}

section#galleriaImmagini button#deleteImage:hover
{
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: 0 0 11px rgba(33, 33, 33, .9);
}

button#deleteImage img {
    width: 30px;
    max-width: fit-content;
    margin: 0.5rem;
    transition: transform .2s;
}

button#deleteImage img:hover {
    -ms-transform: scale(1.3) rotate(5deg);
    -webkit-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}

section#corpoGalleria button#prevImage
{
    color: var(--colore-oro);
    max-width: fit-content;
    width: 100%;
    height: fit-content;
    border-radius: var(--border-radius-default);
    transition: transform .2s;
}

section#corpoGalleria button#prevImage:hover
{
    background-color: rgb(22, 21, 21, 0.4);
    color: var(--colore-giallo);
}

section#corpoGalleria button#nextImage
{
    color: var(--colore-oro);
    max-width: fit-content;
    width: 100%;
    height: fit-content;
    border-radius: var(--border-radius-default);
    transition: transform .2s;
}

section#corpoGalleria button#nextImage:hover
{
    background-color: rgb(22, 21, 21, 0.4);
    color: var(--colore-giallo);
}

form#immaginiInput input
{
    display: inline;
    margin-top: 0.2rem;
    width: fit-content;
}

form#immaginiInput button
{
    display: inline;
    width: fit-content;
}

/*GALLERIA DI IMMAGINI*/



/*PROFILO*/

form#formProfilo, section#profilo
{
    margin: 1.5rem 2.5rem 0rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/9;
    overflow: hidden;
}

form#formProfilo input[type="file"], button#inviaProfilo
{
    margin: 0.75rem;
}

textarea#descrizione
{
    width: fit-content;
    height: 59px;
    max-height: 330px;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-radius: var(--border-radius-default);
    border-color: var(--colore-azzurro);

}

textarea#descrizione:is(:focus, :valid)
{
    border-color: var(--colore-giallo);
    border-width: 2px;
}

textarea#descrizione::-webkit-scrollbar
{
    width: 0px;
}

section#profilo
{
    display: none;
    grid-template-columns: fit-content(8ch) fit-content(8ch);
    justify-self: center;
    column-gap: 25px;
}

button#modificaProfilo
{
    grid-column: 1/3;
    width: fit-content;
    justify-self: center;
    margin: 0.25rem;
}

section#sectionImmagineProfilo
{
    overflow: hidden;
    height: 125px;
    width: 125px;
    border-width: 10px;
    border: solid var(--colore-oro);
    border-radius: var(--border-radius-default);
    transition: transform 0.5s ease;
    justify-self: right;
}

section#sectionImmagineProfilo:hover
{
    border: solid var(--colore-giallo);
}

section#sectionImmagineProfilo img#immagineProfilo
{
    width: 100%;
    height: inherit;
    object-fit: cover;
    transition: transform 0.5s ease;
}

section#sectionImmagineProfilo img#immagineProfilo:hover
{
    transform: scale(1.05);
}

p#testoDescrizione
{
    max-height: 5500px;
    width: fit-content;
    background-color: var(--colore-mezzo-chiaro);
    border-radius: var(--border-radius-default);
    padding: 10px;
    justify-self: center;
}

/*PROFILO*/



/*MEDIA!!!!!*/

@media (min-width: 576px)
{
    section#linkSocial section#listaSocial section
    {
        margin-bottom: 8%;
    }
    section#linkSocial section#listaSocial img.zoom
    {
        width: 25%;
    }
    nav#menu a.zoom
    {
        padding: 14px 16px;
    }
    section#profilo
    {
        grid-template-columns: repeat(1, 1fr);
    }
    button#modificaProfilo
    {
        grid-column: 1;
    }
    section#sectionImmagineProfilo
    {
        justify-self: center;
    }
}

@media (min-width: 768px) and (max-width: 992px)
{
    section#formTracce input[type="text"]
    {
        width: fit-content;
    }
    section#formTracce select
    {
        width: fit-content;
    }
    section#linkSocial section#listaSocial section
    {
        margin-bottom: 15%;
    }
    section#linkSocial section#listaSocial img.zoom
    {
        width: 35%;
    }
}

@media (min-width: 992px)
{
    section#profilo
    {
        grid-template-columns: fit-content(8ch) fit-content(8ch);
    }
    button#modificaProfilo
    {
        grid-column: 1/3;
    }
}