*
{
    box-sizing: border-box;
}

html
{
    height: 100%;
}

/*VARIABILI*/

:root
{
    --colore-scuro: rgb(50, 54, 67);
    --colore-mezzo-scuro: rgb(68, 72, 87);
    --colore-chiaro: rgb(255, 255, 255);
    --colore-mezzo-chiaro: rgb(242, 242, 242);
    --colore-oro: darkkhaki;
    --colore-giallo:rgb(255, 202, 89);
    --colore-arancio: #ff9800;
    --colore-azzurro: #00c6ff;
    --colore-azzurro-scuro: #247ecd;
    --grandezza-carta: 250px;
    --border-radius-default: 5px;
}

/*VARIABILI*/

body
{
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: fit-content;
    /* display: grid; */
    /* grid-template-columns: repeat(7, 1fr); */
}

::-webkit-scrollbar
{
    width: 6px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(transparent, var(--colore-arancio));
    /* background: linear-gradient(transparent, var(--colore-azzurro)); */
    border-radius: var(--border-radius-default);
}

#progress-container
{
    width: 100%;
    height: 8px;
    background: #ccc;
    transition: 0.4s;
    position: fixed;
    z-index: 1000;
}

.progress-bar
{
    height: 8px;
    background: var(--colore-azzurro);
    width: 0%;
}


/* ::-webkit-scrollbar-thumb:hover
{
    background: linear-gradient(transparent, var(--colore-azzurro)); 
} */


/* con questo, l'utente non potrà mai selezionare un'immagine */

img
{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1
{
    width: 100%;
    max-width: fit-content;
    text-align: center;
    display: inline;
    font-size: 22px;
    overflow-wrap: break-word;
}

/* LOADER */

#loaderWrapper
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--colore-scuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader
{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid var(--colore-chiaro);
    animation: loader 2s infinite ease;
}

.loaderInner
{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--colore-chiaro);
    animation: loaderInner 2s infinite ease-in;
}

@keyframes loader
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(180deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    75%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes loaderInner
{
    0%
    {
        height: 0%;
    }
    25%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
    75%
    { 
        height: 100%
    }
    100%
    {
        height: 0%;
    }
}

@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

/* LOADER */

/* TORNA SU  */

.tornaSu
{
    background-color: var(--colore-arancio);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 32px;
    line-height: 48px;
    width: 48px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
}

.tornaSu:hover
{
    background-color: var(--colore-azzurro);
}

/* TORNA SU  */

/* SECTION SOCIAL  */


section#linkSocial
{
    min-width: auto;
    width: auto;
    overflow: hidden;
    height: fit-content;
    border-radius: var(--border-radius-default);
}

section#linkSocial form#social
{
    /* padding: 4%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#linkSocial h1
{
    padding: 0px 4% 0px 4%;
    border-width: 0px 0px 2px 0px;
    border-style: groove;
}

section#linkSocial form#social input[type="text"],
input[type="url"]
{
    display: inline-block;
    margin: 0.2rem;
    width: 100%;
    min-width: fit-content;
}

section#linkSocial section#listaSocial
{
    text-align: center;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

section#linkSocial section#listaSocial section
{
    margin-bottom: 15%;
}

#listaSocial a
{
    color: var(--colore-oro);
}

section#linkSocial section#listaSocial img.zoom
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    min-width: 25px;
    min-height: 25px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: var(--colore-chiaro);
    border-radius: var(--border-radius-default);
    transition: all 0.2s ease-in-out;
}

section#linkSocial section#listaSocial img.zoom:hover
{
    -ms-transform: scale(1.1) rotate(5deg);
    -webkit-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg);
}

.socialContainer
{
    max-width: 200px;
    position: relative;
    place-self: center;
    padding: 5px;
    background-color: var(--colore-mezzo-scuro);
    border-radius: var(--border-radius-default);
    border: solid var(--colore-chiaro);
    border-width: 0px 2px 0px 2px;
}

.socialContainer::before,
.socialContainer::after 
{
    --scale: 0;
    --arrow-size: 10px;

    position: absolute;
    top: -0.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.socialContainer::before
{
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: var(--colore-arancio);
    overflow-wrap: break-word;
}

.socialContainer:hover::before,
.socialContainer:hover::after
{
    --scale: 1;
}

.socialContainer::after
{
    --translate-y: calc(-1 * var(--arrow-size) - 0.5px);

    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--colore-arancio);
    transform-origin: top center;
}

/* SECTION SOCIAL  */

/* header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 20px 0px 0px 0px;
    background-color: var(--colore-mezzo-scuro);
    grid-column: 1/9;
    height: 100%;
    position: sticky;
    top: 0;
} */

#navBar
{
    margin-top: 0rem;
    display: flex;
    background-color: var(--colore-mezzo-scuro);
    /* overflow: hidden; */
    transition: 0.4s;
    flex-wrap: wrap;
    /* grid-column: 1/8; */
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: left;
    padding-top: 20px;
    border: solid var(--colore-giallo);
    border-width: 0px 0px 4px 0px;
}

#menu
{
    flex: 1;
    display: flex;
    transition: 0.4s ease-in-out;
}

a#logout
{
    background-color: #cb0000;
    color: white;
    border-radius: 0px;
    border: none 0px;
}

a#logout:hover
{
    background-color: red;
}

#menu a.zoom
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: transform 0.2s;
    border-color: var(--colore-mezzo-chiaro);
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    background-color: var(--colore-mezzo-chiaro);
    border-radius: var(--border-radius-default);
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: solid var(--colore-oro);
}

#menu a.zoom:hover
{
    background-color: var(--colore-giallo);
    color: rgb(255, 255, 255);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border: solid var(--colore-giallo);
}

#menu a.active.zoom
{
    background-color: #2196F3;
    color: var(--colore-chiaro);
}

#menu a.active.zoom:hover
{
    background-color: var(--colore-azzurro);
}
  
.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdownContent
{
    display: none;
    position: absolute;
    min-width: min-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    left: 10%;
}

.dropdownContent a
{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: transform 0.2s;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-radius: var(--border-radius-default);
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius-default);
    border: solid var(--colore-oro);
}

.dropdownContent a:hover
{
    background-color: var(--colore-giallo);
    color: rgb(255, 255, 255);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border: solid var(--colore-giallo);
}

.dropdown:hover .dropdownContent
{
    display: block;
}

#userNickname
{
    margin: 15px;
    background-color: var(--colore-scuro);
    border: 2px solid var(--colore-oro);
    border-radius: var(--border-radius-default);
    padding: 10px;
    color: var(--colore-chiaro);
    transition: all 0.2s ease-in-out;
}

#userNickname:hover
{
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    cursor: pointer;
    border: 2px solid var(--colore-giallo);
}

/* cambiare i nomi id */

section#formTracce
{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-column: 2/8; */
    width: 100%;
    height: fit-content;
    margin: auto;
    overflow: hidden;

}

section#formTracce section#formAggiunta
{
    margin: 1.5rem 2.5rem 0rem 2.5rem;
    padding: 0rem 4% 2rem 4%;
    min-width: fit-content;
    width: fit-content;
    height: fit-content;
}

input[type="text"],
input[type="url"]
{
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--border-radius-default);
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: var(--colore-mezzo-chiaro);
    max-width: 200px;
}

/* FORM TRACCIA */

form#traccia button
{
    margin-top: 0.2rem;
}

form#traccia input
{
    display: block;
    margin-top: 0.2rem;
    width: fit-content;
}


/* FORM TRACCIA */

footer#piePagina
{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background-color: var(--colore-scuro);
    color: var(--colore-chiaro);
    margin-top: auto;
    border: solid var(--colore-giallo);
    border-width: 4px 0px 0px 0px;
    position: relative;
    /* grid-column: 2/8; */
}

/*GALLERIA DI IMMAGINI*/

section#galleriaImmagini
{
    text-align: center;
    background-color: var(--colore-mezzo-chiaro);
    margin-top: 1.5rem;
    padding-bottom: 0.25rem;
    text-align: -webkit-center;
    /* grid-column: 2/8; */
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border: groove var(--colore-mezzo-chiaro);
    border-width: 2px 0px 0px 0px;
}

section#corpoGalleria
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    padding: 5px;
    margin: auto;
}

section#corpoGalleria img
{
    width: 100%;
}

section#corpoGalleria button,
section#galleriaImmagini button#deleteImage
{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin: auto;
    visibility: hidden;
    font-size: 30px;
}

section#galleriaImmagini button#deleteImage
{
    color: var(--colore-chiaro);
    background-color: #cb0000;
    font-size: 20px;
    border: none;
    margin: 0.5rem 0.25rem;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section#galleriaImmagini button#deleteImage:hover
{
    background-color: red;
}

section#galleriaImmagini button#deleteImage:hover
{
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    box-shadow: 0 0 11px rgba(33, 33, 33, .9);
}

button#deleteImage img
{
    width: 30px;
    max-width: fit-content;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
}

button#deleteImage img:hover
{
    -ms-transform: scale(1.3) rotate(5deg);
    -webkit-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg);
}

section#corpoGalleria button#prevImage
{
    color: var(--colore-oro);
    max-width: fit-content;
    width: 100%;
    height: fit-content;
    border-radius: var(--border-radius-default);
    transition: all 0.2s ease-in-out;
}

section#corpoGalleria button#prevImage:hover
{
    background-color: rgb(22, 21, 21, 0.4);
    color: var(--colore-giallo);
}

section#corpoGalleria button#nextImage
{
    color: var(--colore-oro);
    max-width: fit-content;
    width: 100%;
    height: fit-content;
    border-radius: var(--border-radius-default);
    transition: all 0.2s ease-in-out;
}

section#corpoGalleria button#nextImage:hover
{
    background-color: rgb(22, 21, 21, 0.4);
    color: var(--colore-giallo);
}

form#immaginiInput
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 5px;
    background-color: var(--colore-mezzo-scuro);
    border-radius: var(--border-radius-default);
    color: var(--colore-chiaro);
}

form#immaginiInput input
{
    display: inline;
    margin-top: 0.2rem;
    width: fit-content;
    text-align-last: center;
}

form#immaginiInput button
{
    display: inline;
    width: fit-content;
}

/*GALLERIA DI IMMAGINI*/

/*MESSAGGI DI ERRORE*/
#messaggioProfilo,
#messaggioGalleria,
#messaggioTraccia,
#messaggioFetch
{
    display: none;
}

/*MESSAGGI DI ERRORE*/

/*PROFILO*/

#formProfilo, section#profilo
{
    margin: 0px 2.5rem 0rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-column: 2/8; */
    overflow: hidden;
}

#formProfilo input[type="file"], button#inviaProfilo, button#annullaModifica
{
    margin: auto;
}

button#annullaModifica
{
    display: none;
}

#formProfilo p,
#immaginiInput p
{
    margin: 0.5rem 0px 0px 0px;
}

textarea#descrizione
{
    width: fit-content;
    height: 59px;
    max-height: 330px;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 16px;
    border-radius: var(--border-radius-default);
    border-color: var(--colore-azzurro);

}

textarea#descrizione:is(:focus, :valid)
{
    border-color: var(--colore-giallo);
    border-width: 2px;
}

textarea#descrizione::-webkit-scrollbar
{
    width: 0px;
}

section#profilo
{
    display: none;
    justify-self: center;
    grid-template-columns: 1fr minmax(var(--grandezza-carta));
    grid-template-rows: repeat(1,1fr);
    column-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid var(--colore-oro);
    padding: 5px 15px;
    margin: 1.5rem auto auto auto;
    border-radius: var(--border-radius-default);
    transition: all 0.3s ease-in-out;
    transform: translateY(2px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    max-width: 500px;
}

section#profilo:hover
{
    transform: scale(1.0);
    border: 2px solid var(--colore-giallo);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

button#modificaProfilo
{
    grid-column: 1/3;
    width: fit-content;
    justify-self: center;
    margin: 0.5rem;
}

section#sectionImmagineProfilo
{
    overflow: hidden;
    height: 125px;
    width: 125px;
    border-width: 10px;
    transition: all 0.5s ease;
    justify-self: right;
    border-radius: 100%;
    grid-row: 1/3;
}

section#sectionImmagineProfilo img#immagineProfilo
{
    width: 100%;
    height: inherit;
    object-fit: cover;
    transition: all 0.5s ease;
}

h1#nomeArt
{
    width: 100%;
    padding: 10px;
    text-align:  left;
    margin: auto;
    border: solid var(--colore-mezzo-chiaro);
    border-width: 0px 0px 2px 0px;
}

#testoDescrizione
{
    width: 100%;
    max-width: 600px;
    padding: 5px;
    background-color: var(--colore-mezzo-chiaro);
    border-radius: var(--border-radius-default);
    overflow-wrap: anywhere;
}

p.socialContainerDescrizione
{
    width: 100%;
    max-width: 500px;
    overflow-wrap: break-word;
    height: fit-content;
    background-color: var(--colore-mezzo-chiaro);
    border-radius: var(--border-radius-default);
    padding: 10px 0px 10px 10px;
    text-align: left;
    margin: auto;
}

#profiloDescrizione
{
    display: grid;
}

/*PROFILO*/

/*MEDIA!!!!!*/

@media (min-width: 100px) and (max-width: 768px)
{
    section#linkSocial section#listaSocial section
    {
        margin-bottom: 8%;
    }

    section#linkSocial section#listaSocial img.zoom
    {
        width: 3%;
    }

    #navBar #menu a.zoom
    {
        padding: 14px 16px;
    }

    /* profilo */

    section#profilo
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 5px 15px;
        column-gap: 0px;
    }

    h1#nomeArt
    {
        text-align: center;
    }

    p.socialContainerDescrizione
    {
        text-align: center;
        margin: 0.5rem auto auto auto;
    }

    section#sectionImmagineProfilo
    {
        grid-row: 1/3;
        grid-column: 1/3;
        justify-self: center;
    }

    button#modificaProfilo
    {
        grid-column: 1;
    }

    /* profilo */
}

@media (min-width: 768px) and (max-width: 992px)
{
    /* profilo */

    section#profilo
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 5px 15px;
        column-gap: 0px;
        max-width: 500px;
    }

    h1#nomeArt
    {
        text-align: center;
    }

    p.socialContainerDescrizione
    {
        text-align: center;
        margin: 0.5rem auto auto auto;
    }

    section#sectionImmagineProfilo
    {
        grid-row: 1/3;
        grid-column: 1/3;
        justify-self: center;
    }

    button#modificaProfilo
    {
        grid-column: 1;
    }

    section#formTracce input[type="text"]
    {
        width: fit-content;
    }

    section#formTracce select
    {
        width: fit-content;
    }

    section#linkSocial section#listaSocial section
    {
        margin-bottom: 15%;
    }

    section#linkSocial section#listaSocial img.zoom
    {
        width: 5%;
    }
}

@media (min-width: 992px)
{
    section#profilo
    {
        grid-template-columns: 1fr minmax(var(--grandezza-carta));
        grid-template-rows: repeat(1,1fr);
        padding: 5px 15px;
        column-gap: 10px;
    }

    h1#nomeArt
    {
        text-align: left;
    }

    p.socialContainerDescrizione
    {
        margin: auto;
        text-align: left;
    }

    button#modificaProfilo
    {
        grid-column: 1/3;
    }
}