*
{
    box-sizing: border-box;
}

/*VARIABILI*/

:root
{
    --colore-scuro: rgb(50, 54, 67);
    --colore-mezzo-scuro: rgb(68, 72, 87);
    --colore-chiaro: rgb(255, 255, 255);
    --colore-mezzo-chiaro: rgb(242, 242, 242);
    --colore-oro: darkkhaki;
    --colore-giallo:rgb(255, 202, 89);
    --colore-azzurro: #00c6ff;
    --colore-azzurro-scuro: #247ecd;
    --grandezza-carta: 250px;
    --border-radius-default: 5px;
}

/*VARIABILI*/

body
{
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    background-image: url(../img/sfondo-login.png);
    background-size: 300vh;
    background-repeat: no-repeat;
    background-position: center;
}

/* LOADER */

#loaderWrapper
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--colore-scuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader
{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid var(--colore-chiaro);
    animation: loader 2s infinite ease;
}

.loaderInner
{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--colore-chiaro);
    animation: loaderInner 2s infinite ease-in;
}

@keyframes loader
{
    0%
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(180deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    75%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes loaderInner
{
    0%
    {
        height: 0%;
    }
    25%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
    75%
    { 
        height: 100%
    }
    100%
    {
        height: 0%;
    }
}

@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
     }
}

/* LOADER */

.login-container
{
    margin: auto;
    max-width: fit-content;
}

.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--colore-chiaro);
    padding: 10px 20px;
    width: 95vw;
    /* min-height: fit-content; */
    height: fit-content;
    /* max-height: 75vh; */
    /* background-image: url(../img/sfondo-login.png);
    background-size: cover;
    background-position: center; */
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 12vh;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
button
{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: var(--colore-mezzo-chiaro);
}

button
{
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover
{
    transform: scale(1.1);
}

.annulla
{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: red;
    color: white;
    cursor: pointer;
}

.accedi
{
    margin: 5px;
}

.social-icons
{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.social-icons p
{
    margin: 0 10px;
    text-align: center;
}

.social-icons a
{
    margin: 0 10px;
}

.social-icons img
{
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.2s;
}

.social-icons img:hover
{
    transform: scale(1.1);
}

p
{
    margin: 5px 0px;
}

#checkboxCompositore
{
    display: flex;
    flex-direction: row;
}

#checkboxCompositore input[type = "checkbox"]
{
    margin: 0px 5px;
}

#titoloLogin
{
    margin-top: 30px;
}

.glow
{
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
 @-webkit-keyframes glow
{
    from
    {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffb641, 0 0 40px #ffb641, 0 0 50px #ffb641, 0 0 60px #ffb641, 0 0 70px #ffb641;
    }
    to
    {
        text-shadow: 0 0 20px #fff, 0 0 30px #f9ca05, 0 0 40px #f9ca05, 0 0 50px #f9ca05, 0 0 60px #f9ca05, 0 0 70px #f9ca05, 0 0 80px #f9ca05;
    }
}