nav {
    padding: 15px;
    text-align: right;
    background-color: yellow;
    /*width: 100%;*/
}
nav ol li{
    display: inline-block;
}
body{
    background-color: beige;
    padding: 0px;
    margin: 0px;
}
article {

}
section {
    margin: 30px 40px;
    /*margin-bottom: 30px;*/
}
h1{
    color: darkgoldenrod;
    text-align: center;
}
header img{
    width: 100%;
    max-width: 100%;
}
img {
    max-width: 50%;
    /*float: left;*/
}
header p {
    margin: 10px 20px;
}
nav a{
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    color: darkblue;
    background-color: aquamarine;
}
.didascalia {
    float: right;
}