
/*css desktop */

@media(min-width:961px){

    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    #nav_primaria{
        background-color: rgb(244, 244, 244);
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
    }
    
    #Title{
        font-size: 18px;
        color: black;
        text-align: left;
        position: relative;
        left: 3%;
        text-decoration: none;    
    }

    #nav_secondaria {
        font-size: 10px;
        background-color:rgb(255, 255, 255);
        border-bottom: 2px solid black;

    }

    .nav_secondaria_class{
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 13px;
        margin: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 65px;
        display: inline-block;
        border: 2px;  
        background-color:rgb(255, 255, 255);
    }

    #Body_Carrello{
        margin: 0;
        background-color: white;
    }


    #Carrello{
        margin-top : 10px;
        border-collapse: collapse;
        border: 2px solid black; 
        border-radius: 10px;
        width: 500px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;        
    }

    table {
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    th, td {
        text-align: center;
        padding: 5px;
    }


    
    button{
        position:relative;
        left:30%; 
        padding: 10px 20px;
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }


    button:hover {
        background-color: aliceblue;
    }


}






/*css mobile */

@media(max-width:960px){
    .only-mobile {
        display: block;
    }

    .only-desktop {
        display: none;
    }

    #nav_primaria{
        background-color: rgb(244, 244, 244);
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
    }
    
    #Title{
        font-size: 18px;
        color: black;
        text-align: left;
        position: relative;
        left: 3%;
        text-decoration: none;    
    }

    #nav_secondaria {
        font-size: 10px;
        background-color:rgb(255, 255, 255);
        border-bottom: 2px solid black;

    }

    .nav_secondaria_class{
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 13px;
        margin: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 65px;
        display: inline-block;
        border: 2px;  
        background-color:rgb(255, 255, 255);
    }

    #Body_Carrello{
        margin: 0;
        background-color: white;
    }


    #Carrello{
        margin-top : 10px;
        border-collapse: collapse;
        border: 2px solid black; 
        border-radius: 10px;
        width: 500px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;        
    }

    table {
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    th, td {
        text-align: center;
        padding: 5px;
    }


    
    button{
        position:relative;
        left:30%; 
        padding: 10px 20px;
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;

    }


    button:hover {
        background-color: aliceblue;
    }



}





















