
#nav_primaria{
    background-color: rgb(244, 244, 244);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

#Title{
    font-size: 25px;
    color: black;
    text-align: center;
    position: relative;
    left: 45%;
    text-decoration: none;    
}






#nav_secondaria {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: burlywood;
    border-bottom: 2px solid black;
  }
  
  #search {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 10px;
    margin-right: 15px;
  }
  
  #mainImage {
    border: 1px solid white;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin: 5px 10px 5px 0;
  }


  

  