
/*css desktop */

@media(min-width:961px){

    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    

    .Primary_body{
        margin: 0;
        background-color: black;
    }

    .normal_body{

        margin: 0;
        background-color: black;

    }
    
    #Border{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        
        border-radius: 10px;
        width: 300px;

        
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 60px;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        background-color: white;
    }

    #image1 {
        width: 100%;
        margin-bottom: 20px;
    }


    #Border2{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        
        border-radius: 10px;
        width: 300px;

        margin-left: 55px;
        margin-top: 20px;
        margin-right: 55px;
        background-color: white;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        
    }

    #image2 {
        width: 100%;
        margin-bottom: 20px;
    }


    #Border3{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 300px;

        margin-left: 60px;
        margin-top: 20px;
        margin-right: 30px;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        background-color: white;
    }

    #image3 {
        width: 100%;
        margin-bottom: 20px;
    }




    button {
        padding: 10px 20px;
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    

    
    button:hover {
        background-color: aliceblue;
    }
}






/*css mobile */

@media(max-width:960px){
    .only-mobile {
        display: block;
    }

    .only-desktop {
        display: none;
    }

    .normal_body{

        margin: 0;
        background-color: black;

    }
    

    #nav_primaria{
        background-color: rgb(244, 244, 244);
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
    }
    
    #Title{
        font-size: 18px;
        color: black;
        text-align: left;
        position: relative;
        left: 3%;
        text-decoration: none;    
    }


    #mainImage{
        height: 48px;
        width: 48px;
        position: relative;
        right: 15%;
    }

    #nav_secondaria {
        font-size: 10px;
        background-color:rgb(255, 255, 255);
        border-bottom: 2px solid black;

    }

    .nav_secondaria_class{
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 13px;
        margin: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 65px;
        display: inline-block;
        border: 2px;  
        background-color:rgb(255, 255, 255);
    }


    #Border{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        
        border-radius: 10px;
        width: 300px;

        
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 60px;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        background-color: white;
    }

    #image1 {
        width: 100%;
        margin-bottom: 20px;
    }


    #Border2{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        
        border-radius: 10px;
        width: 300px;

        margin-left: 55px;
        margin-top: 20px;
        margin-right: 55px;
        background-color: white;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        
    }

    #image2 {
        width: 100%;
        margin-bottom: 20px;
    }


    #Border3{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 300px;

        margin-left: 60px;
        margin-top: 20px;
        margin-right: 30px;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        background-color: white;
    }

    #image3 {
        width: 100%;
        margin-bottom: 20px;
    }




    button {
        padding: 10px 20px;
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    

    
    button :hover {
        background-color: aliceblue;
    }

}



















