@media(min-width:961px){

    .only-mobile {
        display: none;
    }

    .only-desktop {
        display: block;
    }

    .Primary_body{
        margin: 0;
        background-color: black;
    }
    .normal_body{

        margin: 0;
        background-color: black;

    }

    #Body_Carrello{
        margin: 0;
        background-color: white;
    }


    #Carrello{
        margin-top : 10px;
        border-collapse: collapse;
        border: 2px solid black; 
        border-radius: 10px;
        width: 500px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
            
    }
    table {
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    th, td {
        text-align: center;
        padding: 5px;
    }

    #ButtonToPay{
        position:relative;
        left:30%;
    }
    

    #nav_primaria{
        background-color: rgb(244, 244, 244);
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
    }
    
    #Title{
        font-size: 18px;
        color: black;
        text-align: left;
        position: relative;
        left: 3%;
        text-decoration: none;    
    }


    #mainImage{
        height: 48px;
        width: 48px;
        position: relative;
        right: 15%;
    }

    #nav_secondaria {
        font-size: 10px;
        background-color:rgb(255, 255, 255);
        border-bottom: 2px solid black;

    }

    .nav_secondaria_class{
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 13px;
        margin: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 65px;
        display: inline-block;
        border: 2px;  
        background-color:rgb(255, 255, 255);
    }


    #TitleText{
        font-size: 20px;
        text-align: center;
        color: white;
    }

    .StoryText{
        width: 60%;
        margin-top: 5%;
        
        font-size: 23px;
        text-align: center;
        color: white;
        padding-left: 260px;
        padding-right: 200px;

    }

    #ImageText1{
        height: 260px;
        width: 260px;
        position: fixed;
        left: 0;
        top: 25%;
    }

    #ImageText2{
        height: 260px;
        width: 280px;
        position: fixed;
        right: 0;
        top: 25%;
    }


    #Border{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        
        border-radius: 10px;
        width: 300px;

        
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 60px;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        background-color: white;
    }

    #image1 {
        width: 100%;
        margin-bottom: 20px;
    }


    #Border2{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        
        border-radius: 10px;
        width: 300px;

        margin-left: 55px;
        margin-top: 20px;
        margin-right: 55px;
        background-color: white;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        
    }

    #image2 {
        width: 100%;
        margin-bottom: 20px;
    }


    #Border3{
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 300px;

        margin-left: 60px;
        margin-top: 20px;
        margin-right: 30px;
        margin-bottom: 20px;

        padding: 10px;
        float: left;
        background-color: white;
    }

    #image3 {
        width: 100%;
        margin-bottom: 20px;
    }




    button {
        padding: 10px 20px;
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    

    .button :visited {
        color:black;
    }
    .button :hover {
        background-color: aliceblue;
    }




    #ImagePay{
        height: 48px;
        width: 48px;
    
    }


}



















@media(max-width:960px){
    .only-mobile {
        display: block;
    }

    .only-desktop {
        display: none;
    }

    .Primary_body{
        margin: 0;
        background-color: black;
    }
    .normal_body{
    
        margin: 0;
        background-color: rgb(244, 244, 244);
    }
    
    ul {
        list-style: none;
        
      }
    
    #nav_primaria{
        background-color: rgb(244, 244, 244);
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
    }
     
    #Title{
        font-size: 18px;
        color: black;
        text-align: left;
        position: relative;
        left: 3%;
        text-decoration: none;    
    }
    
    
    #mainImage{
        height: 48px;
        width: 48px;
        position: relative;
        right: 15%;
    }
    
    #nav_secondaria {
        font-size: 10px;
        background-color:rgb(255, 255, 255);
        border-bottom: 2px solid black;
    
    }
    
    .nav_secondaria_class{
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-size: 13px;
        margin: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 65px;
        display: inline-block;
        border: 2px;  
        background-color:rgb(255, 255, 255);
    }
    
    
    #TitleText{
        font-size: 20px;
        text-align: center;
        color: white;
    }
    
    .StoryText{
        width: 60%;
        margin-top: 5%;
        
        font-size: 23px;
        text-align: center;
        color: white;
        padding-left: 260px;
        padding-right: 200px;
    
    }
    
    #ImageText1{
        height: 260px;
        width: 260px;
       
    }
    
    #ImageText2{
        height: 260px;
        width: 280px;
      
    }
    
    
    
    #Body_Carrello{
        margin: 0;
        background-color: white;
    }
    
    
    #Carrello{
        margin-top : 10px;
        border-collapse: collapse;
        border: 2px solid black; 
        width: 500px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
              
    }
    table {
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
      
    th, td {
        text-align: center;
        padding: 5px;
    }
    
    #ButtonToPay{
        position:relative;
        left:30%;
    }
    
    #Border{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        
        width: 300px;
    
        
        margin-left: 35px;
        margin-top: 20px;
        margin-right: 60px;
        margin-bottom: 20px;
    
        padding: 10px;
        float: left;
    }
    
    #image1 {
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    #Border2{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        
        width: 300px;
    
        margin-left: 55px;
        margin-top: 20px;
        margin-right: 55px;
        margin-bottom: 20px;
    
        padding: 10px;
        float: left;
    }
    
    #image2 {
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    #Border3{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        
        width: 300px;
    
        margin-left: 60px;
        margin-top: 20px;
        margin-right: 30px;
        margin-bottom: 20px;
    
        padding: 10px;
        float: left;
    }
    
    #image3 {
        width: 100%;
        margin-bottom: 20px;
    }
    
    
    
    
    button {
        padding: 10px 20px;
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
      
    
    .button :visited {
        color:black;
    }
    .button :hover {
        background-color: aliceblue;
    }
    
    
    
    
    #ImagePay{
        height: 48px;
        width: 48px;
     
    }

}